.info-block {
    position: relative;
    padding: 150px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-block__inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 570px));
    grid-gap: 30px;
    align-items: center;
    z-index: 10;
}

.info-block__text,
.info-block__pic {
    max-width: 570px;
}

.info-block__pic {
    margin-left: 20px;
}

.info-block__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.info-block__svg {
    max-width: 100%;
    max-height: 100%;
}

.info-block__actions {
    margin-top: 40px;
}

.info-block__btn ~ .info-block__btn {
    margin-left: 25px;
}

.info-block__decor {
    position: absolute;
    bottom: -30%;
    left: 0%;
    pointer-events: none;
    user-select: none;
}

.info-block__scroll {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}