.form-page--front-page .form-page__outer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}

.form-page--front-page .form-page__body {
    width: 100%;
}

.form-page__inner {
    position: relative;
    padding: 65px 30px;
    border-radius: 10px;
    background-image: url("../img/bg/elipses-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    @include mobileXS-block {
        padding: 65px 20px;
        background-size: 160% 100%;
    }
}

.form-page__info {
    text-align: center;
}

.form-page__descr {
    @include mobileXS(padding, 0 15px);
}

.form-page__form,
.form-page__protect {
    max-width: 640px;
    margin: 45px auto 0 auto;
}

.form-page__form.invalid .form-page__input {
    border: 1px solid #FF0000;
}

.form-page__fields {
    display: flex;
    justify-content: space-between;
    @include mobileXS-block {
        flex-direction: column;
    }
}

.form-page__field {
    position: relative;
    width: 100%;
}

.form-page__field-text {
    position: absolute;
    top: -24px;
    left: 0;
}

.form-page__input {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(75px);
    border-radius: 5px;
    color: var(--color-white);
    outline: none;
    border: 1px solid transparent;
    padding: 15px;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.form-page__input:target,
.form-page__input:focus {
    border: 1px solid var(--color-blue);
}

.form-page__actions {
    margin-left: 33px;
    @include mobileXS-block {
        margin-left: 0;
        margin-top: 25px;
    }
}

.form-page__btn {
    @include mobile(width, 100%);
}

.form-page__protect {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.form-page__shield-protect {
    display: inline-block;
    margin-right: 10px;
}

.form-page .wpcf7-not-valid-tip {
    color: rgba(255, 0, 0, 0.45);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    text-align: center;
    max-width: fit-content;
    padding: 2px 8px;
    width: 100%;
    @include mobileXS-block {
        top: auto;
        bottom: -20px;
        left: 0;
        transform: translateY(0%);
    }
}

.form-page .wpcf7-response-output {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    max-width: max-content;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}