{% extends "layouts/_default.html" %}

{% block content %}

{% include "template/_info-block.html" %}

<!-- News-list -->
<section class="news-list bg--dark-blue block-padding">
    <div class="news-list__body container">
        <div class="news-list__filter">
            <a href="#" class="news-list__btn-filter button button--dark button--small is-active">
                Все
            </a>
            <a href="#" class="news-list__btn-filter button button--dark button--small">
                Лайфхаки
            </a>
            <a href="#" class="news-list__btn-filter button button--dark button--small">
                Мероприятия
            </a>
        </div>
        <div class="news-list__items">
            <article class="news-list__item">
                <picture class="news-list__pic">
                    <img src="img/plugs/plug.jpg" alt="" class="news-list__thumb">
                </picture>
                <aside class="news-list__aside">
                    <div class="news-list__meta">
                        <a href="#" class="news-list__cat text text--small text--white text--w-light">
                            Лайфхаки
                        </a>
                        <span class="news-list__post-date text text--small text--white text--w-light">
                            14 Juli, 2021
                        </span>
                        <span class="news-list__time-read text text--small text--white text--w-light">
                            Читать 3 минуты
                        </span>
                        <span class="news-list__views text text--small text--white text--w-light">
                            12368 просмотра
                        </span>
                    </div>
                    <div class="news-list__text">
                        <h2 class="news-list__title title title--medium title--white title--w-bold title--indent">
                            Какое то длинное название статьи
                        </h2>
                        <p class="news-list__excerpt text text--white text--normal text--w-light">
                            В частности, существующая теория представляет собой интересный эксперимент проверки инновационных методов управления процессами. Реализация.
                        </p>
                    </div>
                    <a href="#" class="news-list__more link-secondary">
                        <span class="news-list__more-text">
                            Читать полностью
                        </span> 
                        <span class="news-list__more-icon">
                            <svg class="news-list__more-icon link-secondary__arrow-secondary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                            </svg>
                        </span>
                    </a>
                </aside>
            </article>
            <article class="news-list__item">
                <picture class="news-list__pic">
                    <img src="img/plugs/plug-2.jpg" alt="" class="news-list__thumb">
                </picture>
                <aside class="news-list__aside">
                    <div class="news-list__meta">
                        <a href="#" class="news-list__cat text text--small text--white text--w-light">
                            IT-технологии
                        </a>
                        <span class="news-list__post-date text text--small text--white text--w-light">
                            14 March, 2022
                        </span>
                        <span class="news-list__time-read text text--small text--white text--w-light">
                            Читать 2 минуты
                        </span>
                        <span class="news-list__views text text--small text--white text--w-light">
                            15368 просмотра
                        </span>
                    </div>
                    <div class="news-list__text">
                        <h2 class="news-list__title title title--medium title--white title--w-bold title--indent">
                            Какое то длинное название статьи
                        </h2>
                        <p class="news-list__excerpt text text--white text--normal text--w-light">
                            В частности, существующая теория представляет собой интересный эксперимент проверки инновационных методов управления процессами. Реализация.
                        </p>
                    </div>
                    <a href="#" class="news-list__more link-secondary">
                        <span class="news-list__more-text">
                            Читать полностью
                        </span> 
                        <span class="news-list__more-icon">
                            <svg class="news-list__more-icon link-secondary__arrow-secondary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                            </svg>
                        </span>
                    </a>
                </aside>
            </article>
            <article class="news-list__item">
                <picture class="news-list__pic">
                    <img src="img/plugs/plug-3.webp" alt="" class="news-list__thumb">
                </picture>
                <aside class="news-list__aside">
                    <div class="news-list__meta">
                        <a href="#" class="news-list__cat text text--small text--white text--w-light">
                            WH40k
                        </a>
                        <span class="news-list__post-date text text--small text--white text--w-light">
                            20 November, 2018
                        </span>
                        <span class="news-list__time-read text text--small text--white text--w-light">
                            Читать 5 минуты
                        </span>
                        <span class="news-list__views text text--small text--white text--w-light">
                            9368 просмотра
                        </span>
                    </div>
                    <div class="news-list__text">
                        <h2 class="news-list__title title title--medium title--white title--w-bold title--indent">
                            Какое то длинное название статьи
                        </h2>
                        <p class="news-list__excerpt text text--white text--normal text--w-light">
                            В частности, существующая теория представляет собой интересный эксперимент проверки инновационных методов управления процессами. Реализация.
                        </p>
                    </div>
                    <a href="#" class="news-list__more link-secondary">
                        <span class="news-list__more-text">
                            Читать полностью
                        </span> 
                        <span class="news-list__more-icon">
                            <svg class="news-list__more-icon link-secondary__arrow-secondary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                            </svg>
                        </span>
                    </a>
                </aside>
            </article>
        </div>
    </div>
</section>
<!-- /. News-list -->

{% include "template/_popular-services.html" %}

{% include "template/_form-page.html" %}

{% endblock %}