{% set title = "Контентная страница" %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "template/_info-block.html" %}

<!-- Page-content -->
<section class="page-content block-padding">
    <div class="page-content__body container">
        <div class="page-content__wysiwyg wysiwyg">
            <h3>
                1. Общие положения
            </h3>
            <p>
                Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ООО Финком (далее – Оператор).
            </p>
            <ol>
                <li>
                    Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                </li>
                <li>
                    Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://fc-g.com.
                </li>
            </ol>
            <h3>
                2. Основные понятия, используемые в Политике
            </h3>
            <ol>
                <li>
                    Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
                </li>
                <li>
                    Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
                </li>
            </ol>
        </div>
    </div>
</section>
<!-- /. Page-content -->

{% include "template/_popular-services.html" %}

{% include "template/_form-page.html" %}

{% endblock %}