{% set title = "Интернет-магазин" %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "template/_info-block.html" %}

<!-- Page-content -->
<section class="page-content block-padding">
    <div class="page-content__body container">
        <div class="page-content__wysiwyg wysiwyg">
            <p>
                Интернет-магазин является одним из видов коммерции и представляет собой совокупность программ, работающих на web-сайте, которые позволяют покупателю оплачивать товары из каталога и сразу же оформлять их заказ. Продажа собственных товаров и услуг через интернет является одним из необходимых и эффективных инструментов увеличения числа продаж предприятия, увеличения оборота и повышения имиджа.
            </p>
            <p>
                Преимуществами интернет-магазина является то, что он не нуждается в представительном офисе, нет необходимости нести расходы за аренду помещений, а владелец магазина может управлять продажами даже из своей квартиры. Мы поможем вам стать владельцем интернет-магазина, создадим сайт и разместим на нем всю информацию о ваших товарах и услугах, ценах и гарантиях для покупателей. Мы изучим ваш продукт, проанализируем конкурентов и их сайты. Мы сформируем вам бриф, в котором пропишем важные аспекты будущего сайта. На основе современных тенденций, ваших предпочтений, фирменного стиля, наши специалисты разработают уникальный дизайн. Более того, мы можем комплексно сопровождать ваш интернет-магазин, когда он уже заработает.
            </p>
        </div>
    </div>
</section>
<!-- /. Page-content -->

{% include "template/_tarifs.html" %}

{% include "template/_types-sites.html" %}

{% include "template/_popular-services.html" %}

{% include "template/_form-page.html" %}

{% endblock %}