{% set title = "Битрикс 24" %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "template/_info-block.html" %}

<!-- Page-content -->
<section class="page-content block-padding">
    <div class="page-content__body container">
        <div class="page-content__wysiwyg wysiwyg">
            <p>
                Большинство компаний перешли на удаленный формат работы из-за пандемии и не собираются возвращаться в оффлайн.
            </p>
            <p>
                Но как при этом правильно организовать и проконтролировать работу сотрудников?
            </p>
            <p>
                Как структурировать процесс, поставить задачи и проследить за их выполнением?
            </p>
            <p>
                Как обеспечить безопасность данных и оценить эффективность внештатных работников?
            </p>
            <p>
                Именно Битрикс 24 предполагает удобную организацию и контроль действий работников на удаленной работе или в командировке.
            </p>
            <p>
                Функционал этой системы позволит организовать выполнение любых задач и оптимизировать работу не только коллектива, но и всего предприятия.
            </p>
            <p>
                Наша команда предлагает полный пакет услуг, от разработки бизнес-идеи до администрирование и SEO-продвижения сайта. Для нас важен долгосрочный результат и постоянный рост.
            </p>
            <p>
                Компания Fincom Digital поможет настроить Битрикс24 для вашего бизнеса. Мы окажем техническую поддержку, расширим возможности CRM, проконсультируем и обучим работе в программе.
            </p>
            <div class="page-content__cards-features">
                <div class="cards-feature">
                    <div class="cards-feature__item">
                        <div class="cards-feature__heading">
                            <img src="img/page-content/card-feature-icon-1.svg" alt="" class="cards-feature__icon">
                            <span class="cards-feature__text title title--pre-medium title--white title--w-light">
                                Отслеживание рабочего процесса
                            </span>
                        </div>
                        <div class="cards-feature__descr text text--small text--white text--w-light">
                            Система позволяет ставить конкретные задачи, назначать ответственного за их выполнение и отслеживать рабочий процесс в режиме реального времени. Помимо всего прочего, в программе можно настроить воронку продаж, конвертировать лиды в сделки, выставлять счета клиентам, а также вести часть бухгалтерии.
                        </div>
                    </div>
                    <div class="cards-feature__item">
                        <div class="cards-feature__heading">
                            <img src="img/page-content/card-feature-icon-2.svg" alt="" class="cards-feature__icon">
                            <span class="cards-feature__text title title--pre-medium title--white title--w-light">
                                Подключение онлайн-офиса
                            </span>
                        </div>
                        <div class="cards-feature__descr text text--small text--white text--w-light">
                            Теперь у вас есть возможность подключения онлайн-офиса, общего чата со всеми сотрудниками и хранения данных на безопасном сервере. Интеграция мессенджеров и других контактов, позволит не потерять связь с клиентами.
                        </div>
                    </div>
                    <div class="cards-feature__item">
                        <div class="cards-feature__heading">
                            <img src="img/page-content/card-feature-icon-3.svg" alt="" class="cards-feature__icon">
                            <span class="cards-feature__text title title--pre-medium title--white title--w-light">
                                Отслеживание статистики
                            </span>
                        </div>
                        <div class="cards-feature__descr text text--small text--white text--w-light">
                            С помощью внедрения корпоративного портала, через CRM-аналитику и отчеты можно отслеживать статистику, проводить аудит и анализ всей структуры компании. Все это поможет своевременно определить проблемные зоны и разработать план действий для развития и продвижения.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Page-content -->

{% include "template/_popular-services.html" %}

{% include "template/_reviews.html" %}

{% include "template/_form-page.html" %}

{% endblock %}