{% set title = "О компании" %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "template/_info-block.html" %}

<!-- About -->
<section class="about block-padding">
    <div class="about__body container">
        <div class="about__wysiwyg wysiwyg">
            <p>
                В настоящее время под собственным брендом собрано digital-агенство с фокусом на дизайн, разработку и администрирование. Каждый разработанный нами проект, от сайтов до дизайна продуктов, решает задачи бизнеса и целевой аудитории.
            </p>
            <p>
                Противоположная точка зрения подразумевает, что базовые сценарии поведения пользователей формируют глобальную экономическую сеть и при этом -  разоблачены. В частности, начало повседневной работы по формированию позиции играет важную роль в формировании новых принципов формирования материально-технической и кадровой базы. Как принято считать, элементы политического процесса освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, своевременно верифицированы!
            </p>
            <p>
                А также интерактивные прототипы описаны максимально подробно. Противоположная точка зрения подразумевает, что тщательные исследования конкурентов, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Кстати,  реплицированные с зарубежных источников, современные исследования будут в равной степени предоставлены сами себе.
            </p>
            <p>
                Противоположная точка зрения подразумевает, что предприниматели в сети интернет, инициированные исключительно синтетически, ограничены исключительно образом мышления! Внезапно, предприниматели в сети интернет могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Также как повышение уровня гражданского сознания говорит о возможностях существующих финансовых и административных условий.
            </p>
            <p>
                Но сплочённость команды профессионалов предполагает независимые способы реализации глубокомысленных рассуждений. В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть описаны максимально подробно. Также как базовый вектор развития однозначно определяет каждого участника как способного принимать собственные решения касаемо экспериментов, поражающих по своей масштабности и грандиозности.
            </p>
        </div>
    </div>
</section>
<!-- /. About -->

<!-- Team -->
<section class="team block-padding">
    <div class="team__body container">
        <h2 class="team__heading title title--large title--white title--w-bold title--indent-45">
            Команда
        </h2>
        <div class="team__items">
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/300/300" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Алексей
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Руководитель компании, project-менеджер, сисадмин
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/400/500" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Георг
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Frontent-разработчик
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/290/320" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    DAVA
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Тиктокер, репер, артист, граф дезигнер
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/350/400" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Керел
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Веб-дезигнер
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/400/300" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Юля
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    PR-менеджер, SMM
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/250/350" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Наташа
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    SMM, ВОИР, разнорабочий
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="img/plugs/team-plugs-more.svg" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Хочу работать с Вами
                </h4>
                <a href="./page-vacancy.html" class="team__link link-primary">
                    Посмотреть список вакансий 
                    <svg class="link-primary__arrow-primary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /. Team -->

{% include "template/_popular-services.html" %}

{% include "template/_form-page.html" %}

{% endblock %}