{% set title = "О компании" %}

{% extends "layouts/_default.html" %}

{% block content %}

{% include "template/_info-block.html" %}

{% include "template/_page-wysiwyg.html" %}

<!-- Team -->
<section class="team block-padding">
    <div class="team__body container">
        <h2 class="team__heading title title--large title--white title--w-bold title--indent-45">
            Команда
        </h2>
        <div class="team__items">
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/300/300" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Алексей
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Руководитель компании, project-менеджер, сисадмин
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/400/500" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Георг
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Frontent-разработчик
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/290/320" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    DAVA
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Тиктокер, репер, артист, граф дезигнер
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/350/400" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Керел
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    Веб-дезигнер
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/400/300" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Юля
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    PR-менеджер, SMM
                </p>
            </div>
            <div class="team__member">
                <div class="team__photo">
                    <img src="https://picsum.photos/250/350" alt="" class="team__img">
                </div>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Наташа
                </h4>
                <p class="team__position text text--normal text--white text--w-light">
                    SMM, ВОИР, разнорабочий
                </p>
            </div>
            <div class="team__member">
                <a href="#" class="team__photo team__photo--link">
                    <div class="team__svg-wrapper">
                        <svg class="team__svg-plus" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5 1V22M1 11.5H22" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </a>
                <h4 class="team__name title title--medium title--white title--w-light">
                    Хочу работать с Вами
                </h4>
                <a href="./page-vacancy.html" class="team__link link-primary">
                    Посмотреть список вакансий 
                    <svg class="link-primary__arrow-primary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /. Team -->

{% include "template/_reviews.html" %}

{% include "template/_popular-services.html" %}

{% include "template/_form-page.html" %}

{% endblock %}