.screen__pic {
    width: auto;
    height: 100vh;
}

.screen__svg {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.screen__body {
    position: absolute;
    top: 0;
    width: 100vw;
}

.screen__inner {
    margin-top: 30%;
}

.screen__heading {
    max-width: 690px;
    line-height: 1;
    margin-bottom: 15px;
}

.screen__descr {
    max-width: 500px;
}

.screen__btn {
    margin-top: 45px;
}