.screen__pic {
    width: auto;
    height: 100vh;
}

.screen__svg {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.screen__body {
    position: absolute;
    top: 0;
    width: 100vw;
}

.screen__inner {
    margin-top: 30%;
    max-width: 600px;
}