.screen {
    // width: 100vw;
    // height: 100vh;
}

.screen__pic {
    // position: absolute;
    width: auto;
    height: 100vh;
    // overflow-y: hidden;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
}

// .screen__pic img {
//     // position: absolute;
//     // top: 0;
//     // bottom: 0;
//     // left: 0;
//     // width: 5760px;
//     height: 100%;
//     display: block;
// }

.screen__svg {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}