@keyframes wiggle-hand {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

@keyframes wiggle-papper {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.85;
    }
}

@keyframes scale-music {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes move-eye {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2px);
    }
}

.a-screen-brand__layer--hand {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: wiggle-hand 1.5s ease-in-out infinite alternate backwards;
}

.a-screen-brand__layer--papper {
    transform-box: fill-box;
    transform-origin: top center;
    animation: wiggle-papper 3s ease-in-out infinite alternate backwards;
}

.a-screen-marketing__layer--big-clock-hand {
    transform-box: fill-box;
    transform-origin: 14%;
    animation: rotate 8s linear infinite;
}

.a-screen-marketing__layer--small-clock-hand {
    transform-box: fill-box;
    transform-origin: 5% 100%;
    animation: rotate 12s linear infinite;
}

.a-screen-marketing__layer--eye {
    transform-box: fill-box;
    transform-origin: center;
    animation: move-eye 2s ease-in-out infinite alternate backwards;
}

.a-screen-hackerman__layer--had {
    transform-box: fill-box;
    transform-origin: 5% 100%;
    animation: wiggle-hand .4s ease-in-out infinite alternate backwards;
}

.a-screen-hackerman__layer--column {
    transform-box: fill-box;
    transform-origin: center;
    animation: scale-music .5s ease-in infinite;
}

.a-screen-it__layer--light-one {
    animation: flicker .5s ease infinite alternate;
}
.a-screen-it__layer--light-two {
    animation: flicker .8s ease infinite alternate;
}
.a-screen-it__layer--light-three {
    animation: flicker 1s ease infinite alternate;
}
.a-screen-it__layer--light-four {
    animation: flicker .9s ease infinite alternate;
}
.a-screen-it__layer--light-five {
    animation: flicker .4s ease infinite alternate;
}
.a-screen-it__layer--light-six {
    animation: flicker 1.3s ease infinite alternate;
}
.a-screen-it__layer--light-seven {
    animation: flicker .3s ease infinite alternate;
}

.a-screen-it__layer--light-printer {
    animation: flicker .5s ease infinite alternate;
}

.a-screen-it__layer--deathstar {
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate 6s linear infinite;
}