/* Burger-menu */
@keyframes rotate-burger-before {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotate-burger-after {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

/* Rotate */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wiggle-hand {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

@keyframes wiggle-papper {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.85;
    }
}

@keyframes flicker-load {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

@keyframes scale-music {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes move-eye {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2px);
    }
}

@keyframes change-color-monitor {
    0% {
        fill: #C8FCFF;
    }
    100% {
        fill: red;
    }
}

@keyframes change-color-word {
    0% {
        fill: #596694;
    }
    100% {
        fill: #ffffff;
    }
}

@keyframes flight-up {
    0% {
        transform: translateY(60px) rotate(0deg);
        opacity: 0;
    }
    50% {
        transform: translateY(30px) rotate(5deg);
        opacity: 1;
    }
    75% {
        transform: translateY(0px) rotate(-5deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0px) rotate(-5deg);
        opacity: 0;
    }
}

@keyframes flicker-plate {
    0% {
        opacity: .35;
    }
    50% {
        opacity: .45;
    }
    55% {
        opacity: .35;
    }
    60% {
        opacity: .45;
    }
    75% {
        opacity: .35;
    }
    80% {
        opacity: .35;
    }
    85% {
        opacity: .45;
    }
    85% {
        opacity: .35;
    }
    90% {
        opacity: .45;
    }
    100% {
        opacity: .35;
    }
}

.a-screen-entry__layer--fairy-cat {
    transform-box: fill-box;
    transform-origin: left 50%;
    animation: wiggle-hand 1.5s ease-in-out infinite alternate backwards;
}

.a-screen-brand__layer--hand {
    transform-box: fill-box;
    transform-origin: bottom;
    animation: wiggle-hand 1.5s ease-in-out infinite alternate backwards;
}

.a-screen-brand__layer--papper {
    transform-box: fill-box;
    transform-origin: top center;
    animation: wiggle-papper 3s ease-in-out infinite alternate backwards;
}

.a-screen-marketing__layer--big-clock-hand {
    transform-box: fill-box;
    transform-origin: 14%;
    animation: rotate 14s linear infinite;
}

.a-screen-marketing__layer--small-clock-hand {
    transform-box: fill-box;
    transform-origin: 5% 100%;
    animation: rotate 20s linear infinite;
}

.a-screen-marketing__layer--light {
    animation: flicker .6s ease infinite alternate;
}

.a-screen-marketing__layer--eye {
    transform-box: fill-box;
    transform-origin: center;
    animation: move-eye 2s ease-in-out infinite alternate backwards;
}

.a-screen-marketing__layer--heart-one {
    transform-box: fill-box;
    transform-origin: center;
    animation: flight-up 2s linear infinite forwards;
}

.a-screen-marketing__layer--add-friend {
    transform-box: fill-box;
    transform-origin: center;
    animation: flight-up 4s linear infinite forwards;
}

.a-screen-marketing__layer--heart-two {
    transform-box: fill-box;
    transform-origin: center;
    animation: flight-up 3s linear infinite forwards;
}

.a-screen-marketing__layer--message {
    transform-box: fill-box;
    transform-origin: center;
    animation: flight-up 4s linear infinite forwards;
}

.a-screen-marketing__layer--heart-three {
    transform-box: fill-box;
    transform-origin: center;
    animation: flight-up 3s linear infinite forwards;
}

.a-screen-hackerman__layer--had {
    transform-box: fill-box;
    transform-origin: 5% 100%;
    animation: wiggle-hand .7s ease-in-out infinite alternate backwards;
}

.a-screen-hackerman__layer--column {
    transform-box: fill-box;
    transform-origin: center;
    animation: scale-music .5s ease-in infinite;
}

.a-screen-hackerman__layer--plate {
    animation: flicker-plate 3s linear infinite forwards;
}

.a-screen-it__layer--light-one {
    animation: flicker .5s ease infinite alternate;
}
.a-screen-it__layer--light-two {
    animation: flicker .8s ease infinite alternate;
}
.a-screen-it__layer--light-three {
    animation: flicker 1s ease infinite alternate;
}
.a-screen-it__layer--light-four {
    animation: flicker .9s ease infinite alternate;
}
.a-screen-it__layer--light-five {
    animation: flicker .4s ease infinite alternate;
}
.a-screen-it__layer--light-six {
    animation: flicker 1.3s ease infinite alternate;
}
.a-screen-it__layer--light-seven {
    animation: flicker .3s ease infinite alternate;
}

.a-screen-it__layer--light-printer {
    animation: flicker .5s ease infinite alternate;
}

.a-screen-it__layer--deathstar {
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate 6s linear infinite;
}

.a-screen-it__layer--had {
    transform-box: fill-box;
    transform-origin: 15% 50%;
    animation: wiggle-papper 2s ease-in-out infinite alternate backwards;
}

.a-screen-it__layer--eye {
    transform-box: fill-box;
    transform-origin: center;
    animation: move-eye 2s ease-in-out infinite alternate backwards;
}

.a-screen-it__layer--monitor {
    animation: change-color-monitor 2s ease infinite alternate backwards;
}

.a-screen-it__layer--word {
    animation: change-color-word 2s ease infinite alternate backwards;
}

@keyframes scroll_down_btn-animation {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0px);
    }
}