@keyframes wiggle-hand {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

@keyframes wiggle-papper {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.a-screen-brand__layer--hand {
    transform-box: fill-box;
    transform-origin: bottom;
    transform: rotate(0deg);
    animation: wiggle-hand 1.5s  ease-in-out infinite alternate backwards;
}

.a-screen-brand__layer--papper {
    transform-box: fill-box;
    transform-origin: top center;
    transform: rotate(5deg);
    animation: wiggle-papper 3s  ease-in-out infinite alternate backwards;
}