/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Debug */

// .debug {
//     @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
//     z-index: 99999;
// }

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
    &--primary {
        background-color: var(--color-bg-primary);
    }
    &--light-dark-blue {
        background-color: var(--color-light-dark-blue);
    }
}

.block-padding {
    padding: 50px 0;
}

/* Links */

.link-secondary {
    display: inline-block;
    font-size: responsive 14px 16px;
    font-range: 1024px 1440px;
    font-weight: 300;
    color: var(--color-blue);
    text-decoration: none;
    transition: color ease-out .150s, fill ease-out .150s;
    border: 1px solid transparent;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.link-secondary__arrow-secondary {
    display: block;
    fill: var(--color-blue);
    transition: fill ease-out .150s, transform ease-out .150s;
    margin-left: 10px;
}

.link-secondary:hover,
.link-secondary:focus,
.link-secondary:active {
    color: var(--color-white);
}

.link-secondary:target,
.link-secondary:focus {
    border: 1px solid var(--color-blue);
}

.link-secondary:disabled {
    opacity: .45;
}

.link-secondary:hover .link-secondary__arrow-secondary,
.link-secondary:focus .link-secondary__arrow-secondary,
.link-secondary:active .link-secondary__arrow-secondary {
    fill: var(--color-white);
    transform: translateX(5px);
}

/* Title */

.title {
    font-family: var(--font-helvetica-neue-cyr);
    font-style: normal;
    margin: 0;
    &--huge {
        font-size: responsive 45px 65px;
        font-range: 320px 1440px;
    }
    &--big {
        font-size: responsive 35px 45px;
        font-range: 320px 1440px;
    }
    &--large {
        font-size: responsive 22px 35px;
        font-range: 1024px 1440px;
    }
    &--medium {
        font-size: responsive 20px 22px;
        font-range: 1024px 1440px;
    }
    &--pre-medium {
        font-size: 18px;
    }
    &--small {
        font-size: 16px;
    }
    &--tiny {
        font-size: 12px;
    }
    &--white {
        color: var(--color-white);
	}
    &--dark {
		color: var(--color-dark); 
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 15px;
}

.title--indent-45 {
    margin: 0 0 45px;
}

/* Text */

.text {
    font-family: var(--font-helvetica-neue-cyr);
    font-style: normal;
    margin: 0;
	&--dark {
		color: var(--color-dark); 
	}
	&--white {
		color: var(--color-white);
	}
	&--blue {
		color: var(--color-blue);
	}
	&--light-gray {
		color: var(--color-light-gray);
	}
	&--large {
        font-size: responsive 18px 22px;
        font-range: 320px 1440px;
	}
	&--normal {
        font-size: responsive 14px 16px;
        font-range: 1024px 1440px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
    }
	&--w-black {
		font-weight: 900;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}