/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Debug */

// .debug {
//     @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
//     z-index: 99999;
// }

/* Hide */

.hide {
    display: none !important;
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-tabletSM {
	@include tabletSM(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--dark {
        background-color: var(--color-dark);
    }
}

/* Links */

.link {
    text-decoration: none;
    transition: ease .3s;
}

.link:hover {
    color: var(--color-blue);
}

/* Title */

.title {
    font-family: var(--font-helvetica-neue-cyr);
    font-style: normal;
    margin: 0;
    &--huge {
        font-size: responsive 45px 65px;
        font-range: 320px 1440px;
    }
    &--big {
        font-size: responsive 35px 45px;
        font-range: 320px 1440px;
    }
    &--large {
        font-size: responsive 22px 35px;
        font-range: 1024px 1440px;
    }
    &--medium {
        font-size: responsive 20px 22px;
        font-range: 1024px 1440px;
    }
    &--small {
        font-size: 16px;
    }
    &--tiny {
        font-size: 12px;
    }
    &--white {
        color: var(--color-white);
	}
    &--dark {
		color: var(--color-dark); 
	}
	&--w-light {
		font-weight: 300;
    }
    &--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-black {
		font-weight: 900;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title--indent {
    margin: 0 0 30px 50px;
    @include tablet(margin, 0 0 20px 15px);
    @include mobile(margin, 0 0 20px 0);
}

/* Text */

.text {
    font-family: var(--font-helvetica-neue-cyr);
    font-style: normal;
    margin: 0;
	&--dark {
		color: var(--color-dark); 
	}
	&--white {
		color: var(--color-white);
	}
	&--large {
        font-size: responsive 18px 22px;
        font-range: 320px 1440px;
	}
	&--normal {
        font-size: responsive 14px 16px;
        font-range: 1024px 1440px;
	}
	&--small {
		font-size: 14px;
	}
	&--tiny {
		font-size: 12px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: bold;
    }
	&--w-black {
		font-weight: 900;
    }
    &--uppercase {
		text-transform: uppercase;
	}
}