@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot');
	src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}