:root {
    --color-blue: #2360FE;
    --color-light-dark-blue: #1C1925;
    --color-dark-gray: #272237;
    --color-light-gray: #F0F6F7;
	--color-white: #FFFFFF;
    
    
    
    --color-dark-blue: #221828;
    --color-dark: #241B2A;
	--color-bg-primary: #1D1324;
	--color-accent-gradient: linear-gradient(90deg, #EB5733 0%, #E93873 100%);
	--color-accent-secondary: #E82F84;
    --font-helvetica-neue-cyr: "HelveticaNeueCyr", "Helvetica Neue", Helvetica, Arial, sans-serif;
}