:root {
    --color-blue: #2360FE;
    --color-dark: #092331;
    --color-dark-blue: #13111B;
	--color-white: #FFFFFF;
    --font-helvetica-neue-cyr: "HelveticaNeueCyr", "Helvetica Neue", Helvetica, Arial, sans-serif;
}