<!-- Accardion -->
<section class="accordion block-padding">
    <div class="accordion__body container">
        <h2 class="accordion__heading title title--large title--white title--w-bold title--indent-45">
            Популярные вопросы
        </h2>

        <div class="accordion__items js-accordion v1">
            <div class="accordion__item js-accordion-item is-active">
                <h3 class="accordion__title js-accordion-title title title--small title--white title--w-light">
                    Какие виды интернет-магазинов существуют? 
                    <span class="accordion__arrow">
                        <svg class="accordion__svg-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1.00098L5 5.00098L9 1.00098" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </h3>
                <div class="accordion__text wysiwyg">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium minima dolores assumenda id.
                    Porro consequuntur at dolor eum, neque labore!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur non sint sequi ipsa laudantium, a
                    iure rem vel nemo soluta temporibus, consectetur at corrupti aspernatur maxime, iusto neque
                    blanditiis deleniti.</p>
                </div>
            </div>
            <div class="accordion__item js-accordion-item">
                <h3 class="accordion__title js-accordion-title title title--small title--white title--w-light">
                    В чем заключается специфика интернет-магазина?
                    <span class="accordion__arrow">
                        <svg class="accordion__svg-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1.00098L5 5.00098L9 1.00098" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </h3>
                <div class="accordion__text wysiwyg">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium minima dolores assumenda id.
                    Porro consequuntur at dolor eum, neque labore!</p>
                </div>
            </div>
            <div class="accordion__item js-accordion-item">
                <h3 class="accordion__title js-accordion-title title title--small title--white title--w-light">
                    Какие нормативные акты регулируют работу интернет-магазина?
                    <span class="accordion__arrow">
                        <svg class="accordion__svg-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1.00098L5 5.00098L9 1.00098" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </span>
                </h3>
                <div class="accordion__text wysiwyg">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium minima dolores assumenda id.
                    Porro consequuntur at dolor eum, neque labore!</p>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur non sint sequi ipsa laudantium, a
                    iure rem vel nemo soluta temporibus, consectetur at corrupti aspernatur maxime, iusto neque
                    blanditiis deleniti.</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- /. Accardion -->