<!-- Action -->
<section class="action block-padding">
    <div class="action__body container">
        <article class="action__item action__item--bg-gradient">
            <div class="action__inner">
                <div class="action__wrapper">
                    <div class="action__date-act text text--small text--white text--w-light">
                        Cпециальное предложение | август - ноябрь 2022
                    </div>
                    <div class="action__name title title--big title--white title--w-medium">
                        Создание логотипа
                    </div>
                    <div class="action__price title title--huge title--white title--w-medium">
                        от 15 500 ₽
                        <span class="action__plunk-sale text text--w-medium">
                            от 20 990 ₽
                        </span>
                    </div>
                    <div class="action__small-text text text--normal text--white text--w-light">
                        при заказе вместе с брендбуком
                    </div>
                    <div class="action__act-btn">
                        <a href="#modal" class="action__button button button--white">
                            Заказать логотип
                        </a>
                        <div class="action__left-text text text--normal text--white text--w-light">
                            3 варианта логотипа на выбор
                        </div>
                    </div>
                </div>
                <picture class="action__picture">
                    <img src="img/action/action-img-1.svg" alt="" class="action__img">
                </picture>
            </div>
        </article>
    </div>
</section>
<!-- /. Action -->

<!-- Action -->
<section class="action block-padding">
    <div class="action__body container">
        <article class="action__item action__item--bg-gradient">
            <div class="action__inner">
                <div class="action__wrapper">
                    <div class="action__date-act text text--small text--white text--w-light">
                        Cпециальное предложение | август - ноябрь 2022
                    </div>
                    <div class="action__name title title--big title--white title--w-medium">
                        Скидка 10%
                    </div>
                    <div class="action__price title title--huge title--white title--w-medium">
                        На разработку
                    </div>
                    <div class="action__small-text text text--normal text--white text--w-light">
                        любой сложности
                    </div>
                    <div class="action__act-btn">
                        <a href="#modal" class="action__button button button--white">
                            Получить скидку
                        </a>
                        <div class="action__left-text text text--normal text--white text--w-light">
                            Действует при предъявлении промокода 09WEB22
                        </div>
                    </div>
                </div>
                <picture class="action__picture">
                    <img src="img/action/action-img-2.png" alt="" class="action__img">
                </picture>
            </div>
        </article>
    </div>
</section>
<!-- /. Action -->

<!-- Action -->
<section class="action block-padding">
    <div class="action__body container">
        <article class="action__item action__item--bg-gradient">
            <div class="action__inner">
                <div class="action__wrapper">
                    <div class="action__date-act text text--small text--white text--w-light">
                        Cпециальное предложение | август - ноябрь 2022
                    </div>
                    <div class="action__name title title--big title--white title--w-medium">
                        2 месяца технической поддержки сайта
                    </div>
                    <div class="action__price title title--huge title--white title--w-medium">
                        В подарок
                    </div>
                    <div class="action__small-text text text--normal text--white text--w-light">
                        при заказе разработки интернет-магазина под ключ
                    </div>
                    <div class="action__act-btn">
                        <a href="#modal" class="action__button button button--white">
                            Получить скидку
                        </a>
                        <div class="action__left-text text text--normal text--white text--w-light">
                            Действует при предъявлении <br> промокода 09WEB22
                        </div>
                    </div>
                </div>
                <picture class="action__picture">
                    <img src="img/action/action-img-3.png" alt="" class="action__img">
                </picture>
            </div>
        </article>
    </div>
</section>
<!-- /. Action -->