{% if title == "Email-маркетинг" %}
<!-- Benefits -->
<section class="benefits block-padding">
    <div class="benefits__body container">
        <h2 class="benefits__heading title title--large title--white title--w-bold title--indent-45">
            Преимущества e-mail рассылки
        </h2>
        <div class="benefits__items">
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-1.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Содержание образовательных материалов
                    </h3>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-2.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Невысокая стоимость
                    </h3>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-3.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Информативность для клиента
                    </h3>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-4.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Наличие функциональных ссылок
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Benefits -->
{% endif %}

{% if title == "Разработка презентаций" %}
<!-- Benefits -->
<section class="benefits block-padding">
    <div class="benefits__body container">
        <h2 class="benefits__heading title title--large title--white title--w-bold title--indent-45">
            Почему мы?
        </h2>
        <div class="benefits__items benefits__items--three">
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-1.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Изучаем аудиторию, продукт и спрос
                    </h3>
                    <p class="benefits__descr text text--normal text--white text--w-light">
                        Специалисты агентства погружаются в специфику вашего бизнеса, изучают аудиторию, ценности бизнеса и рынок, учитывают задачи.
                    </p>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-2.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Сохраняем фирменный стиль
                    </h3>
                    <p class="benefits__descr text text--normal text--white text--w-light">
                        Дизайн вашей презентации будет разработан в соответствии с фирменным стилем компании и представлен 2 вариантами на выбор.
                    </p>
                </div>
            </div>
            <div class="benefits__item">
                <div class="benefits__icon">
                    <img src="img/plugs/benefit-3.svg" alt="" class="benefits__icon-img">
                </div>
                <div class="benefits__text">
                    <h3 class="benefits__title title title--pre-medium title--white title--w-light">
                        Профессионально пишем контент
                    </h3>
                    <p class="benefits__descr text text--normal text--white text--w-light">
                        Грамотный контент для вашей целевой аудитории с возможностью переводов  на английский и немецкий языки.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Benefits -->
{% endif %}