{% if title == "IT аутсорс" %}
<!-- Cases-slider -->
<section class="cases-slider block-padding">
    <div class="cases-slider__body container">
        <h2 class="cases-slider__heading title title--large title--white title--w-bold title--indent-45">
            Кейсы
        </h2>
        <div class="cases-slider__inner">
            <!-- Slider main container -->
            <div class="cases-slider__swiper-container swiper-container">
                <!-- Additional required wrapper -->
                <div class="cases-slider__swiper-wrapper swiper-wrapper disableds">
                    <!-- Slides -->
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        SMM
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Сайт для Fincom Group
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        Дизайн + Вёрстка + CMS
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-2.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Брендбук PTG
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        Дизайн
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Сайт для Inregions
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        Дизайн + Вёрстка + CMS
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-2.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Брендбук PTG
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="cases-slider__slider-nav disableds">
                <div class="cases-slider__swiper-button-prev cases-slider__slider-arrow">
                    <svg class="cases-slider__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="cases-slider__swiper-button-next cases-slider__slider-arrow">
                    <svg class="cases-slider__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Cases-slider -->
{% endif %}

{% if title == "Дизайн" %}
<!-- Cases-slider -->
<section class="cases-slider block-padding">
    <div class="cases-slider__body container">
        <h2 class="cases-slider__heading title title--large title--white title--w-bold title--indent-45">
            Кейсы
        </h2>
        <div class="cases-slider__inner">
            <!-- Slider main container -->
            <div class="cases-slider__swiper-container swiper-container">
                <!-- Additional required wrapper -->
                <div class="cases-slider__swiper-wrapper swiper-wrapper disableds">
                    <!-- Slides -->
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        SMM
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Сайт для Fincom Group
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        Дизайн + Вёрстка + CMS
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-2.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Брендбук PTG
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        Дизайн
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Сайт для Inregions
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                    <div class="cases-slider__swiper-slide swiper-slide">
                        <!-- Case-card -->
                        <article class="case-card">
                            <header class="case-card__header">
                                <div class="case-card__tags">
                                    <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                                        Дизайн + Вёрстка + CMS
                                    </a>
                                </div>
                            </header>
                            <div class="case-card__body">
                                <div class="case-card__pic">
                                    <img src="img/cases/case-card-img-2.png" alt="" class="case-card__img">
                                </div>
                                <div class="case-card__text">
                                    <h2 class="case-card__title title title--medium title--white title--w-light">
                                        Брендбук PTG
                                    </h2>
                                </div>
                            </div>
                            <footer class="case-card__footer">
                                <div class="case-card__action">
                                    <a href="javascript:;" class="case-card__button button button--primary">
                                        Посмотреть кейс
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Case-card -->
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="cases-slider__slider-nav disableds">
                <div class="cases-slider__swiper-button-prev cases-slider__slider-arrow">
                    <svg class="cases-slider__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="cases-slider__swiper-button-next cases-slider__slider-arrow">
                    <svg class="cases-slider__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Cases-slider -->
{% endif %}

{% if title == "Наши кейсы" %}
<!-- Cases -->
<section class="cases block-padding">
    <div class="cases__body container">
        <div class="cases__filters">
            <a href="#" class="cases__btn-filter button button--dark button--small is-active">
                Все категории
            </a>
            <a href="#" class="cases__btn-filter button button--dark button--small">
                Дизайн
            </a>
            <a href="#" class="cases__btn-filter button button--dark button--small">
                Создание сайтов
            </a>
            <a href="#" class="cases__btn-filter button button--dark button--small">
                SEO оптимизация
            </a>
            <a href="#" class="cases__btn-filter button button--dark button--small">
                SMM
            </a>
            <a href="#" class="cases__btn-filter button button--dark button--small">
                Битрикс24
            </a>
            <a href="#" class="cases__btn-filter button button--dark button--small">
                IT аутсорс
            </a>
        </div>
        <div class="cases__items">
            <!-- Case-card -->
            <article class="case-card">
                <header class="case-card__header">
                    <div class="case-card__tags">
                        <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                            SMM
                        </a>
                    </div>
                </header>
                <div class="case-card__body">
                    <div class="case-card__pic">
                        <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                    </div>
                    <div class="case-card__text">
                        <h2 class="case-card__title title title--medium title--white title--w-light">
                            Сайт для Fincom Group
                        </h2>
                    </div>
                </div>
                <footer class="case-card__footer">
                    <div class="case-card__action">
                        <a href="javascript:;" class="case-card__button button button--primary">
                            Посмотреть кейс
                        </a>
                    </div>
                </footer>
            </article>
            <!-- /. Case-card -->
            <!-- Case-card -->
            <article class="case-card">
                <header class="case-card__header">
                    <div class="case-card__tags">
                        <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                            Дизайн + Вёрстка + CMS
                        </a>
                    </div>
                </header>
                <div class="case-card__body">
                    <div class="case-card__pic">
                        <img src="img/cases/case-card-img-2.png" alt="" class="case-card__img">
                    </div>
                    <div class="case-card__text">
                        <h2 class="case-card__title title title--medium title--white title--w-light">
                            Брендбук PTG
                        </h2>
                    </div>
                </div>
                <footer class="case-card__footer">
                    <div class="case-card__action">
                        <a href="javascript:;" class="case-card__button button button--primary">
                            Посмотреть кейс
                        </a>
                    </div>
                </footer>
            </article>
            <!-- /. Case-card -->
            <!-- Case-card -->
            <article class="case-card">
                <header class="case-card__header">
                    <div class="case-card__tags">
                        <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                            Дизайн
                        </a>
                    </div>
                </header>
                <div class="case-card__body">
                    <div class="case-card__pic">
                        <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                    </div>
                    <div class="case-card__text">
                        <h2 class="case-card__title title title--medium title--white title--w-light">
                            Сайт для Inregions
                        </h2>
                    </div>
                </div>
                <footer class="case-card__footer">
                    <div class="case-card__action">
                        <a href="javascript:;" class="case-card__button button button--primary">
                            Посмотреть кейс
                        </a>
                    </div>
                </footer>
            </article>
            <!-- /. Case-card -->
            <!-- Case-card -->
            <article class="case-card">
                <header class="case-card__header">
                    <div class="case-card__tags">
                        <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                            SMM
                        </a>
                    </div>
                </header>
                <div class="case-card__body">
                    <div class="case-card__pic">
                        <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                    </div>
                    <div class="case-card__text">
                        <h2 class="case-card__title title title--medium title--white title--w-light">
                            Сайт для Fincom Group
                        </h2>
                    </div>
                </div>
                <footer class="case-card__footer">
                    <div class="case-card__action">
                        <a href="javascript:;" class="case-card__button button button--primary">
                            Посмотреть кейс
                        </a>
                    </div>
                </footer>
            </article>
            <!-- /. Case-card -->
            <!-- Case-card -->
            <article class="case-card">
                <header class="case-card__header">
                    <div class="case-card__tags">
                        <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                            Дизайн + Вёрстка + CMS
                        </a>
                    </div>
                </header>
                <div class="case-card__body">
                    <div class="case-card__pic">
                        <img src="img/cases/case-card-img-2.png" alt="" class="case-card__img">
                    </div>
                    <div class="case-card__text">
                        <h2 class="case-card__title title title--medium title--white title--w-light">
                            Брендбук PTG
                        </h2>
                    </div>
                </div>
                <footer class="case-card__footer">
                    <div class="case-card__action">
                        <a href="javascript:;" class="case-card__button button button--primary">
                            Посмотреть кейс
                        </a>
                    </div>
                </footer>
            </article>
            <!-- /. Case-card -->
            <!-- Case-card -->
            <article class="case-card">
                <header class="case-card__header">
                    <div class="case-card__tags">
                        <a href="javascript:;" class="case-card__tag button button--dark button--tiny">
                            Дизайн
                        </a>
                    </div>
                </header>
                <div class="case-card__body">
                    <div class="case-card__pic">
                        <img src="img/cases/case-card-img-1.png" alt="" class="case-card__img">
                    </div>
                    <div class="case-card__text">
                        <h2 class="case-card__title title title--medium title--white title--w-light">
                            Сайт для Inregions
                        </h2>
                    </div>
                </div>
                <footer class="case-card__footer">
                    <div class="case-card__action">
                        <a href="javascript:;" class="case-card__button button button--primary">
                            Посмотреть кейс
                        </a>
                    </div>
                </footer>
            </article>
            <!-- /. Case-card -->
        </div>
    </div>
</section>
<!-- /. Cases -->
{% endif %}