{% if title == "Главная" %}
<!-- Form-phone -->
<section class="form-page form-page--front-page block-padding">
    <div class="form-page__outer">
        <div class="form-page__body container">
            <div class="form-page__inner bg--dark-blue">
                <div class="form-page__info">
                    <h2 class="form-page__heading title title--large title--white title--w-bold title--indent">
                        Хочу обсудить проект
                    </h2>
                    <p class="form-page__descr text text--normal text--white text--w-light">
                        Оставьте номер телефона, мы перезвоним  и обсудим проект
                    </p>
                </div>
                <form method="post" class="form-page__form wpcf7-form invalid" action="php/form-send.php" method="post">
                    <div class="form-page__fields">
                        <div class="form-page__field">
                            <p class="form-page__field-text text text--small text--light-gray text--w-light">
                                Введите номер телефона
                            </p>
                            <input type="tel" class="form-page__input" placeholder="+7 (999) - 888 - 77 - 66">
                            <span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                        </div>
                        <div class="form-page__actions">
                           <input type="submit" value="Отправить" class="form-page__btn button button--primary button--form">
                           <span class="wpcf7-spinner"></span>
                        </div>
                    </div>
                    <p class="form-page__protect text text--small text--white text--w-light">
                        Ваши данные находятся под защитой
                    </p>
                    <div class="wpcf7-response-output" aria-hidden="true">
                        Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /. Form-phone -->
{% else %}
<!-- Form-phone -->
<section class="form-page block-padding">
    <div class="form-page__body container">
        <div class="form-page__inner bg--dark-blue">
            <div class="form-page__info">
                <h2 class="form-page__heading title title--large title--white title--w-bold title--indent">
                    Хочу обсудить проект
                </h2>
                <p class="form-page__descr text text--normal text--white text--w-light">
                    Оставьте номер телефона, мы перезвоним  и обсудим проект
                </p>
            </div>
            <form method="post" class="form-page__form wpcf7-form invalid" action="php/form-send.php" method="post">
                <div class="form-page__fields">
                    <div class="form-page__field">
                        <p class="form-page__field-text text text--small text--light-gray text--w-light">
                            Введите номер телефона
                        </p>
                        <input type="tel" class="form-page__input" placeholder="+7 (999) - 888 - 77 - 66">
                        <span class="wpcf7-not-valid-tip" aria-hidden="true">Поле обязательно для заполнения.</span>
                    </div>
                    <div class="form-page__actions">
                       <input type="submit" value="Отправить" class="form-page__btn button button--primary button--form">
                       <span class="wpcf7-spinner"></span>
                    </div>
                </div>
                <p class="form-page__protect text text--small text--white text--w-light">
                    Ваши данные находятся под защитой
                </p>
                <div class="wpcf7-response-output" aria-hidden="true">
                    Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.
                </div>
            </form>
        </div>
    </div>
</section>
<!-- /. Form-phone -->
{% endif %}