{% if title == "Блог" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Актуальные новости компании и мира из области IT
                </p>
                <div class="info-block__actions">
                    <a href="#news" class="info-block__btn button button--primary">
                        Посмотреть новости
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-9.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Интернет-магазин" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Многостраничный сайт - магазин со сложной иерархией. Здесь важно обеспечить пользователю удобство не только в просмотре товаров, но и в оформлении самого заказа
                </p>
                <div class="info-block__actions">
                    <a href="javascript:;" class="info-block__btn button button--primary" data-hystmodal="#service">
                        Оставить заявку
                    </a>
                    <a href="javascript:;" class="info-block__btn button button--secondary" data-hystmodal="#feedback">
                        Узнать подробнее
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-8.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Создание сайтов" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Создадим сайт любой сложности под ваши задачи. От лендинга до полноценного корпоративного сайта или интернет-магазина
                </p>
                <div class="info-block__actions">
                    <a href="#modal" class="info-block__btn button button--primary">
                        Оставить заявку
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-7.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Контакты" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Часто работаем с клиентами по всей  России, но всегда рады видеть Вас в нашем офисе
                </p>
                <div class="info-block__actions">
                    <a href="#modal" class="info-block__btn button button--primary">
                        Перезвоните мне
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-6.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "О компании" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    В настоящее время под собственным брендом собрано digital-агенство с фокусом на дизайн, разработку и администрирование. Каждый разработанный нами проект, от сайтов до дизайна продуктов, решает задачи бизнеса и целевой аудитории
                </p>
                <div class="info-block__actions">
                    <a href="#modal" class="info-block__btn button button--primary">
                        Перезвоните мне
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-6.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Контентная страница" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Политика в отношении обработки персональных данных
                </p>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-1.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Вакансии" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    В настоящее время под собственным брендом собрано digital-агенство с фокусом на дизайн, разработку и администрирование. Каждый разработанный нами проект, от сайтов до дизайна продуктов, решает задачи бизнеса и целевой аудитории.
                </p>
                <div class="info-block__actions">
                    <a href="#vacancy" class="info-block__btn button button--primary">
                        Перейти к списку вакансий
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-2.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Битрикс 24" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Структурирование процесса, поставка задач и отслживание их выполнения.
                </p>
                <div class="info-block__actions">
                    <a href="#javascript:;" class="info-block__btn button button--primary">
                        Оставить заявку
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-3.png" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "IT аутсорс" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Передача части функций, связанных с управлением и обслуживанием компьютерного оборудования и информационных систем, одной компанией в внешнее управление другой специализированной компании.
                </p>
                <div class="info-block__actions">
                    <a href="#javascript:;" class="info-block__btn button button--primary">
                        Оставить заявку
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-4.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Наши кейсы" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Портфолио из работ, которые мы успели сделать за 3 года.
                </p>
                <div class="info-block__actions">
                    <a href="#javascript:;" class="info-block__btn button button--primary">
                        Связаться с нами
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-5.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Дизайн" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Брендинг, создание фирменного стиля компании, айдентика, разработка мерча, создание логотипов.
                </p>
                <div class="info-block__actions">
                    <a href="#javascript:;" class="info-block__btn button button--primary">
                        Оставить заявку
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-5.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}

{% if title == "Email-маркетинг" %}
<!-- Info-block -->
<section class="info-block">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    Системное продвижение товаров и услуг компании или предприятия с помощью электронных писем.
                </p>
                <div class="info-block__actions">
                    <a href="#javascript:;" class="info-block__btn button button--primary">
                        Оставить заявку
                    </a>
                </div>
            </div>
            <div class="info-block__pic">
                <img src="img/info-block/img-content-5.svg" alt="" class="info-block__img">
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_3418_19793)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#E82F84" fill-opacity="0.45"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#E82F84" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_3418_19793" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_3418_19793"/>
                </filter>
                </defs>
            </svg>                                               
        </div>
        <div class="info-block__scroll js-scroll-down">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->
{% endif %}