<!-- Info-block -->
<section class="info-block bg--dark-blue">
    <div class="info-block__body container">
        <div class="info-block__inner">
            <div class="info-block__text">
                <h1 class="info-block__heading title title--huge title--white title--w-bold title--indent">
                    {{ title }}
                </h1>
                <p class="info-block__descr text text--large text--white text--w-light">
                    {% if title == "Блог" %}
                        Актуальные новости компании и мира из области IT
                    {% elif title == "Интернет-магазин" %}
                        Многостраничный сайт - магазин со сложной иерархией. Здесь важно обеспечить пользователю удобство не только в просмотре товаров, но и в оформлении самого заказа
                    {% endif %}
                </p>
                <div class="info-block__actions">
                    {% if title == "Блог" %}
                        <a href="#news" class="info-block__btn button button--primary">
                            Посмотреть новости
                        </a>
                    {% elif title == "Интернет-магазин" %}
                        <a href="#modal" class="info-block__btn button button--primary">
                            Оставить заявку
                        </a>
                        <a href="#more" class="info-block__btn button button--primary">
                            Узнать подробнее
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="info-block__pic">
                {% if title == "Блог" %}
                    <svg class="info-block__svg" width="570" height="439" viewBox="0 0 570 439" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect width="570" height="439" rx="9.5" fill="url(#paint0_linear_2662_6800)" fill-opacity="0.25"/>
                        <g clip-path="url(#clip0_2662_6800)">
                        <rect x="52" y="314" width="148" height="107" rx="4.01293" fill="#535B6E"/>
                        <rect x="209.957" y="362.941" width="272.077" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <rect x="209.957" y="370.967" width="307.792" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <rect x="209.957" y="348.896" width="107.948" height="8.02586" rx="0.802586" fill="#535B6E"/>
                        <rect x="209.957" y="399.859" width="66.2134" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <rect x="209.957" y="325.621" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <path d="M258.914 324.016L258.914 331.239" stroke="white" stroke-opacity="0.05" stroke-width="0.401293" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="264.934" y="325.621" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <path d="M313.893 324.016L313.893 331.239" stroke="white" stroke-opacity="0.05" stroke-width="0.401293" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="319.912" y="325.621" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <path d="M368.869 324.016L368.869 331.239" stroke="white" stroke-opacity="0.05" stroke-width="0.401293" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="374.889" y="325.621" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        </g>
                        <rect x="52.25" y="24.25" width="465.5" height="182.588" rx="4.01293" fill="url(#pattern0)"/>
                        <rect x="52.25" y="24.25" width="465.5" height="182.588" rx="4.01293" fill="#535B6E"/>
                        <rect x="52.25" y="253.789" width="393.267" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <rect x="52.25" y="261.815" width="445.034" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <rect x="52.25" y="239.744" width="107.948" height="8.02586" rx="0.802586" fill="#535B6E"/>
                        <rect x="52.25" y="290.709" width="66.2134" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <rect x="52.25" y="216.47" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <path d="M101.207 214.864L101.207 222.088" stroke="white" stroke-opacity="0.05" stroke-width="0.401293" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="107.227" y="216.47" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <path d="M156.186 214.864L156.186 222.088" stroke="white" stroke-opacity="0.05" stroke-width="0.401293" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="162.205" y="216.47" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <path d="M211.162 214.864L211.162 222.088" stroke="white" stroke-opacity="0.05" stroke-width="0.401293" stroke-linecap="round" stroke-linejoin="round"/>
                        <rect x="217.182" y="216.47" width="42.9384" height="4.01293" rx="0.802586" fill="#535B6E"/>
                        <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_2662_6800" transform="translate(0 -0.35) scale(0.000431034 0.0010989)"/>
                        </pattern>
                        <linearGradient id="paint0_linear_2662_6800" x1="285" y1="57.948" x2="285" y2="439" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white" stop-opacity="0.45"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                        </linearGradient>
                        <clipPath id="clip0_2662_6800">
                        <rect x="52.25" y="313.983" width="465.5" height="107.145" rx="4.01293" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                {% elif title == "Интернет-магазин" %}
                    <svg class="info-block__svg" width="570" height="331" viewBox="0 0 570 331" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="570" height="330.408" rx="10" fill="url(#paint0_linear_2618_6381)" fill-opacity="0.25"/>
                        <rect x="178" y="24" width="16" height="5" rx="1" fill="#535B6E"/>
                        <rect x="209" y="24" width="22" height="5" rx="1" fill="#535B6E"/>
                        <rect x="246" y="24" width="22" height="5" rx="1" fill="#535B6E"/>
                        <rect x="283" y="24" width="15" height="5" rx="1" fill="#535B6E"/>
                        <rect x="313" y="24" width="35" height="5" rx="1" fill="#535B6E"/>
                        <rect x="363" y="24" width="29" height="5" rx="1" fill="#535B6E"/>
                        <rect x="478" y="20" width="52" height="13" rx="1" fill="#535B6E"/>
                        <rect x="451" y="20" width="17" height="13" rx="1" fill="#535B6E"/>
                        <rect x="40" y="22" width="49" height="10" rx="2" fill="#535B6E"/>
                        <rect x="40" y="73" width="34" height="10" rx="2" fill="#535B6E"/>
                        <rect x="89" y="75" width="22" height="5" rx="1" fill="#535B6E"/>
                        <rect x="126" y="75" width="55" height="5" rx="1" fill="#535B6E"/>
                        <rect x="196" y="75" width="44" height="5" rx="1" fill="#535B6E"/>
                        <rect x="40" y="128" width="150" height="183" rx="5" fill="white" fill-opacity="0.05"/>
                        <rect x="48.1523" y="223" width="133.696" height="10" rx="2" fill="#535B6E"/>
                        <rect x="48.1523" y="283" width="80.7065" height="14" rx="2" fill="#535B6E"/>
                        <rect x="137.012" y="283" width="44.837" height="14" rx="2" fill="#535B6E"/>
                        <rect x="48" y="246" width="134" height="7" rx="1" fill="#535B6E"/>
                        <rect x="48.1523" y="260" width="118.207" height="7" rx="1" fill="#535B6E"/>
                        <path d="M40 133C40 130.239 42.2386 128 45 128H185C187.761 128 190 130.239 190 133V213H40V133Z" fill="#535B6E"/>
                        <rect x="210" y="128" width="150" height="183" rx="5" fill="white" fill-opacity="0.05"/>
                        <rect x="218.152" y="223" width="133.696" height="10" rx="2" fill="#535B6E"/>
                        <rect x="218.152" y="283" width="80.7065" height="14" rx="2" fill="#535B6E"/>
                        <rect x="307.012" y="283" width="44.837" height="14" rx="2" fill="#535B6E"/>
                        <rect x="218" y="246" width="134" height="7" rx="1" fill="#535B6E"/>
                        <rect x="218.152" y="260" width="118.207" height="7" rx="1" fill="#535B6E"/>
                        <path d="M210 133C210 130.239 212.239 128 215 128H355C357.761 128 360 130.239 360 133V213H210V133Z" fill="#535B6E"/>
                        <rect x="380" y="128" width="150" height="183" rx="5" fill="white" fill-opacity="0.05"/>
                        <path d="M380 133C380 130.239 382.239 128 385 128H525C527.761 128 530 130.239 530 133V213H380V133Z" fill="#535B6E"/>
                        <rect x="388.152" y="223" width="133.696" height="10" rx="2" fill="#535B6E"/>
                        <rect x="388.152" y="283" width="80.7065" height="14" rx="2" fill="#535B6E"/>
                        <rect x="477.012" y="283" width="44.837" height="14" rx="2" fill="#535B6E"/>
                        <rect x="388" y="246" width="134" height="7" rx="1" fill="#535B6E"/>
                        <rect x="388.152" y="260" width="118.207" height="7" rx="1" fill="#535B6E"/>
                        <rect x="40" y="103" width="133.696" height="10" rx="2" fill="#535B6E"/>
                        <defs>
                        <linearGradient id="paint0_linear_2618_6381" x1="285" y1="43.6139" x2="285" y2="330.408" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white" stop-opacity="0.45"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                        </linearGradient>
                        </defs>
                    </svg>
                {% endif %}
            </div>
        </div>
        <div class="info-block__decor">
            <svg class="info-block__elips" width="2524" height="1511" viewBox="0 0 2524 1511" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_2935_4828)">
                <path d="M1216.74 592.381C1548.94 592.381 1818.24 623.42 1818.24 661.709C1818.24 699.998 1548.94 731.038 1216.74 731.038C884.546 731.038 615.245 699.998 615.245 661.709C615.245 623.42 884.546 592.381 1216.74 592.381Z" fill="#237BFE" fill-opacity="0.75"/>
                <path d="M1243.78 688.458C1633.98 584.16 1958.36 529.592 1968.29 566.576C1978.23 603.561 1669.96 718.093 1279.75 822.39C889.546 926.688 565.168 981.256 555.234 944.272C545.299 907.287 853.57 792.755 1243.78 688.458Z" fill="#237BFE" fill-opacity="0.25"/>
                </g>
                <defs>
                <filter id="filter0_f_2935_4828" x="0" y="0" width="2523.53" height="1510.85" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="277.5" result="effect1_foregroundBlur_2935_4828"/>
                </filter>
                </defs>
            </svg>                                                
        </div>
        <div class="info-block__scroll">
            <svg class="info-block__scroll-icon" width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 5.05546V8.66032M7 1C5.4087 1 3.88258 1.74179 2.75736 3.06218C1.63214 4.38258 1 6.17341 1 8.04073V16.4896C1 18.3569 1.63214 20.1478 2.75736 21.4682C3.88258 22.7886 5.4087 23.5303 7 23.5303C8.5913 23.5303 10.1174 22.7886 11.2426 21.4682C12.3679 20.1478 13 18.3569 13 16.4896V8.04073C13 6.17341 12.3679 4.38258 11.2426 3.06218C10.1174 1.74179 8.5913 1 7 1Z" stroke="#F0F6F7" stroke-width="1.10645" stroke-linecap="round"/>
            </svg>
            <div class="info-block__scroll-text text text--small text--white text--w-light text--uppercase">
                Scroll
            </div>
        </div>
    </div>
</section>
<!-- /. Info-block -->