<!-- Модалка услуг -->
<div class="modal hystmodal" id="service" aria-hidden="true">
    <div class="modal__wrap hystmodal__wrap">
        <div class="modal__body hystmodal__window" role="modal window service" aria-modal="true">
            <div class="modal__close" data-hystclose>
                <svg class="modal__close-svg" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12 12M12 1L1 12" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="modal__wrapper-form js-modal-form-wrapper">
                <h3 class="modal__title title title--medium title--white title--w-medium center js-service-title">
                    Интернет-магазин
                </h3>
                <div role="form" class="wpcf7">
                    <form class="modal__form wpcf7-form init">
                        <div class="modal__field">
                            <input type="text" class="modal__input" placeholder="Алексей">
                            <span class="modal__name-input text text--small text--white text--w-light">
                                Ваше имя
                            </span>
                        </div>
                        <div class="modal__field">
                            <input type="tel" class="modal__input" placeholder="+7-999-888-77-66">
                            <span class="modal__name-input text text--small text--white text--w-light">
                                Телефон
                            </span>
                        </div>
                        <div class="modal__field">
                            <input type="email" class="modal__input" placeholder="alexey86@mail.ru">
                            <span class="modal__name-input text text--small text--white text--w-light">
                                E-mail
                            </span>
                        </div>
                        <div class="modal__wrap-policy">
                            <div class="modal__policy text text--small text--white text--w-light center">
                                Ваши данные находятся под защитой
                            </div>
                            <a href="https://fcdigital.ru/politika-konfidenczialnosti/" class="modal__link-policy text text--small text--w-light center" target="_blank">
                                Политика конфиденциальности
                            </a>
                        </div>
                        <div class="modal__actions">
                            <input type="button" value="Оставить заявку" class="modal__btn button button--primary">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal__wrapper-success js-modal-form-success">
                <div class="modal__success-icon">
                    <img src="img/upload/check-success.svg" alt="Заявка принята" class="modal__success-img">
                </div>
                <div class="modal__success-text text text--normal text--white text--w-light">
                    Спасибо, ваша заявка отправлена
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. Модалка услуг -->

<!-- Модалка услуг -->
<div class="modal hystmodal" id="feedback" aria-hidden="true">
    <div class="modal__wrap hystmodal__wrap">
        <div class="modal__body hystmodal__window" role="modal window feedback" aria-modal="true">
            <div class="modal__close" data-hystclose>
                <svg class="modal__close-svg" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12 12M12 1L1 12" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="modal__wrapper-form is-hidden js-modal-form-wrapper">
                <h3 class="modal__title title title--medium title--white title--w-medium center js-service-title">
                    Форма обратной связи
                </h3>
                <div role="form" class="wpcf7">
                    <form class="modal__form wpcf7-form init">
                        <div class="modal__field">
                            <input type="text" class="modal__input" placeholder="Алексей">
                            <span class="modal__name-input text text--small text--white text--w-light">
                                Ваше имя
                            </span>
                        </div>
                        <div class="modal__field">
                            <input type="tel" class="modal__input" placeholder="+7-999-888-77-66">
                            <span class="modal__name-input text text--small text--white text--w-light">
                                Телефон
                            </span>
                        </div>
                        <div class="modal__field">
                            <input type="email" class="modal__input" placeholder="alexey86@mail.ru">
                            <span class="modal__name-input text text--small text--white text--w-light">
                                E-mail
                            </span>
                        </div>
                        <div class="modal__wrap-policy">
                            <div class="modal__policy text text--small text--white text--w-light center">
                                Ваши данные находятся под защитой
                            </div>
                            <a href="https://fcdigital.ru/politika-konfidenczialnosti/" class="modal__link-policy text text--small text--w-light center" target="_blank">
                                Политика конфиденциальности
                            </a>
                        </div>
                        <div class="modal__actions">
                            <input type="button" value="Оставить заявку" class="modal__btn button button--primary">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal__wrapper-success is-show js-modal-form-success">
                <div class="modal__success-icon">
                    <img src="img/upload/check-success.svg" alt="Заявка принята" class="modal__success-img">
                </div>
                <div class="modal__success-text text text--normal text--white text--w-light">
                    Спасибо, ваша заявка отправлена
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. Модалка услуг -->