<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <p>
                В современном мире сайт является не просто лицом компании, а полноценной бизнес- площадкой, которую используют для решения различных задач. Важно, чтоб при переходе на сайт, человек смог оценить идею, которую компания хочет донести, понять на сколько продукт или услуга будет полезны конкретно для него.
            </p>
            <p>
                Создание продуктивного сайта начинается с определения целей компании, специфики ее продуктов или услуг, целевой аудитории, уникального торгового предложения. Затем совместно с заказчиком формируется техническое задание, где подробно прописываются требования к будущему сайту. 
            </p>
            <p>
                Наша команда предлагает полный пакет услуг, от разработки бизнес-идеи до администрирование и SEO-продвижения сайта. Для нас важен долгосрочный результат и постоянный рост.
            </p>
            <p>
                Сайт это инструмент успешного развития бизнеса. Благодаря заложенному функционалу веб-сайт решает ряд важных задач:
            </p>
            <br>
        </div>
        <!-- Solutions -->
        <section class="solutions">
            <div class="solutions__items">
                <article class="solutions__card bg--light-dark-blue">
                    <h3 class="solutions__heading title title--pre-medium title--white title--w-light title--indent">
                        <span class="solutions__icon">
                            <img class="solutions__img-icon" src="img/plugs/solutions-icon.svg" alt="">
                        </span>
                        Экономия времени сотрудников
                    </h3>
                    <p class="solutions__descr text text--normal text--white text--w-light">
                        На сайте потенциальные клиенты могут найти необходимую им информацию и ответы на часто задаваемые вопросы. В отсутствии сайта, эту работу пришлось бы выполнять сотрудникам компании. Сайт работает на вашу компанию 24 часа в сутки круглый год и затраты на его содержание гораздо меньше
                    </p>
                </article>
                <article class="solutions__card bg--light-dark-blue">
                    <h3 class="solutions__heading title title--pre-medium title--white title--w-light title--indent">
                        <span class="solutions__icon">
                            <img class="solutions__img-icon" src="img/plugs/solutions-icon.svg" alt="">
                        </span>
                        Маркетинг и реклама компании
                    </h3>
                    <p class="solutions__descr text text--normal text--white text--w-light">
                        Сайт - отличный маркетинговый инструмент, благодаря которому происходит продвижение товаров и услуг, информирования об акциях и новых предложениях, получение обратной связи от пользователей
                    </p>
                </article>
                <article class="solutions__card bg--light-dark-blue">
                    <h3 class="solutions__heading title title--pre-medium title--white title--w-light title--indent">
                        <span class="solutions__icon">
                            <img class="solutions__img-icon" src="img/plugs/solutions-icon.svg" alt="">
                        </span>
                        Интернет-продажи
                    </h3>
                    <p class="solutions__descr text text--normal text--white text--w-light">
                        Эту задачу помогает решить интернет-магазин, полноценная торговая точка со своими клиентами, со своей бухгалтерией, платежной системой, аналитикой и возможностью интеграции в структуру CRM-системы компании
                    </p>
                </article>
            </div>
        </section>
        <!-- /. Solutions -->
    </div>
</section>
<!-- /. Page-wysiwyg -->