{% if title == "О компании" %}
<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <p>
                В настоящее время под собственным брендом собрано digital-агенство с фокусом на дизайн, разработку и администрирование. Каждый разработанный нами проект, от сайтов до дизайна продуктов, решает задачи бизнеса и целевой аудитории.
            </p>
            <p>
                Противоположная точка зрения подразумевает, что базовые сценарии поведения пользователей формируют глобальную экономическую сеть и при этом -  разоблачены. В частности, начало повседневной работы по формированию позиции играет важную роль в формировании новых принципов формирования материально-технической и кадровой базы. Как принято считать, элементы политического процесса освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, своевременно верифицированы!
            </p>
            <p>
                А также интерактивные прототипы описаны максимально подробно. Противоположная точка зрения подразумевает, что тщательные исследования конкурентов, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Кстати,  реплицированные с зарубежных источников, современные исследования будут в равной степени предоставлены сами себе.
            </p>
            <p>
                Противоположная точка зрения подразумевает, что предприниматели в сети интернет, инициированные исключительно синтетически, ограничены исключительно образом мышления! Внезапно, предприниматели в сети интернет могут быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Также как повышение уровня гражданского сознания говорит о возможностях существующих финансовых и административных условий.
            </p>
            <p>
                Но сплочённость команды профессионалов предполагает независимые способы реализации глубокомысленных рассуждений. В своём стремлении улучшить пользовательский опыт мы упускаем, что ключевые особенности структуры проекта, вне зависимости от их уровня, должны быть описаны максимально подробно. Также как базовый вектор развития однозначно определяет каждого участника как способного принимать собственные решения касаемо экспериментов, поражающих по своей масштабности и грандиозности.
            </p>
        </div>
    </div>
</section>
<!-- /. Page-wysiwyg -->
{% elif title == "Контентная страница" %}
<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <h3>
                1. Общие положения
            </h3>
            <p>
                Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных ООО Финком (далее – Оператор).
            </p>
            <ol>
                <li>
                    Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
                </li>
                <li>
                    Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://fc-g.com.
                </li>
            </ol>
            <h3>
                2. Основные понятия, используемые в Политике
            </h3>
            <ol>
                <li>
                    Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
                </li>
                <li>
                    Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
                </li>
            </ol>
        </div>
    </div>
</section>
<!-- /. Page-wysiwyg -->
{% elif title == "Создание сайтов" %}
<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <p>
                В современном мире сайт является не просто лицом компании, а полноценной бизнес- площадкой, которую используют для решения различных задач. Важно, чтоб при переходе на сайт, человек смог оценить идею, которую компания хочет донести, понять на сколько продукт или услуга будет полезны конкретно для него.
            </p>
            <p>
                Создание продуктивного сайта начинается с определения целей компании, специфики ее продуктов или услуг, целевой аудитории, уникального торгового предложения. Затем совместно с заказчиком формируется техническое задание, где подробно прописываются требования к будущему сайту. 
            </p>
            <p>
                Наша команда предлагает полный пакет услуг, от разработки бизнес-идеи до администрирование и SEO-продвижения сайта. Для нас важен долгосрочный результат и постоянный рост.
            </p>
            <p>
                Сайт это инструмент успешного развития бизнеса. Благодаря заложенному функционалу веб-сайт решает ряд важных задач:
            </p>
            <br>
            {% include "template/_solutions.html" %}
        </div>
    </div>
</section>
<!-- /. Page-wysiwyg -->
{% elif title == "Интернет-магазин" %}
<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <p>
                Интернет-магазин является одним из видов коммерции и представляет собой совокупность программ, работающих на web-сайте, которые позволяют покупателю оплачивать товары из каталога и сразу же оформлять их заказ. Продажа собственных товаров и услуг через интернет является одним из необходимых и эффективных инструментов увеличения числа продаж предприятия, увеличения оборота и повышения имиджа.
            </p>
            <p>
                Преимуществами интернет-магазина является то, что он не нуждается в представительном офисе, нет необходимости нести расходы за аренду помещений, а владелец магазина может управлять продажами даже из своей квартиры. Мы поможем вам стать владельцем интернет-магазина, создадим сайт и разместим на нем всю информацию о ваших товарах и услугах, ценах и гарантиях для покупателей. Мы изучим ваш продукт, проанализируем конкурентов и их сайты. Мы сформируем вам бриф, в котором пропишем важные аспекты будущего сайта. На основе современных тенденций, ваших предпочтений, фирменного стиля, наши специалисты разработают уникальный дизайн. Более того, мы можем комплексно сопровождать ваш интернет-магазин, когда он уже заработает.
            </p>
        </div>
    </div>
</section>
<!-- /. Page-wysiwyg -->
{% elif title == "Битрикс 24" %}
<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <p>
                Большинство компаний перешли на удаленный формат работы из-за пандемии и не собираются возвращаться в оффлайн.
            </p>
            <p>
                Но как при этом правильно организовать и проконтролировать работу сотрудников?
            </p>
            <p>
                Как структурировать процесс, поставить задачи и проследить за их выполнением?
            </p>
            <p>
                Как обеспечить безопасность данных и оценить эффективность внештатных работников?
            </p>
            <p>
                Именно Битрикс 24 предполагает удобную организацию и контроль действий работников на удаленной работе или в командировке.
            </p>
            <p>
                Функционал этой системы позволит организовать выполнение любых задач и оптимизировать работу не только коллектива, но и всего предприятия.
            </p>
            <p>
                Наша команда предлагает полный пакет услуг, от разработки бизнес-идеи до администрирование и SEO-продвижения сайта. Для нас важен долгосрочный результат и постоянный рост.
            </p>
            <p>
                Компания Fincom Digital поможет настроить Битрикс24 для вашего бизнеса. Мы окажем техническую поддержку, расширим возможности CRM, проконсультируем и обучим работе в программе.
            </p>
            {% include "template/_solutions.html" %}
        </div>
    </div>
</section>
<!-- /. Page-wysiwyg -->
{% else %}
<!-- Page-wysiwyg -->
<section class="page-wysiwyg block-padding">
    <div class="page-wysiwyg__body container">
        <div class="page-wysiwyg__content wysiwyg">
            <p>
                Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Знаках безопасную но они пор заглавных текста скатился предупредила! Инициал журчит подзаголовок подпоясал меня взобравшись грустный вскоре продолжил. Даль от всех свое одна. Реторический, вопроса эта ее ручеек рыбными грамматики его, пунктуация то ты ведущими прямо свой своего? Буквоград, она коварный!
            </p>
            <p>
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Запятой пунктуация имеет собрал путь залетают переписывается вскоре, маленькая своих решила правилами даль ipsum встретил необходимыми не деревни обеспечивает продолжил!
            </p>
            <p>
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Скатился, рукописи? Заманивший путь образ домах текста там дал все пояс точках предложения, ipsum маленький решила, свой осталось рукописи вопрос! Продолжил семантика даже приставка города вскоре языкового над журчит дал?
            </p>
            <p>
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Силуэт сбить, дороге гор маленький на берегу парадигматическая выйти снова она? Жаренные знаках жизни ручеек рот себя от всех скатился запятой подпоясал несколько над грамматики запятых гор языкового, за, переписывается своих. Скатился пустился о заголовок даже домах вопрос которой безопасную деревни точках буквоград, но языком родного снова путь своих! Текста ему собрал реторический домах даже встретил моей заглавных парадигматическая, предложения живет языкового раз эта необходимыми безопасную рукописи напоивший гор последний. Повстречался единственное путь предупредила возвращайся, жизни его коварных даль инициал точках, алфавит толку агентство диких по всей злых скатился! Возвращайся имени океана буквенных?
            </p>
            <p>
                Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Моей пояс до эта вскоре предупреждал ты от всех прямо оксмокс.
            </p>
        </div>
    </div>
</section>
<!-- /. Page-wysiwyg -->
{% endif %}