{% if title == "Дизайн" or title == "Главная 2" %}
<!-- Partners -->
<section class="partners block-padding">
    <div class="partners__body container">
        <h2 class="partners__heading title title--large title--white title--w-bold title--indent-45">
            Нам доверяют
        </h2>
    </div>
    <div class="partners__outer container-page">
        <div class="partners__wrapper-items partners__slider swiper-container">
            <div class="partners__items swiper-wrapper">
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-1.svg" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-2.svg" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-3.svg" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-4.svg" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-5.svg" alt="" class="partners__logo">
                </a>
                <a href="" class="partners__item swiper-slide">
                    <img src="img/partners/logo-6.svg" alt="" class="partners__logo">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /. Partners -->
{% endif %}