{% if title == "Создание сайтов" %}
<!-- Solutions -->
<section class="solutions">
    <div class="solutions__items">
        <article class="solutions__card bg--dark-blue">
            <h3 class="solutions__heading">
                <span class="solutions__icon">
                    <img class="solutions__img-icon" src="img/plugs/solutions-icon-1.svg" alt="">
                </span>
                <span class="solutions__text title title--pre-medium title--white title--w-light">
                    Экономия времени сотрудников
                </span>
            </h3>
            <div class="solutions__descr text text--normal text--white text--w-light">
                На сайте потенциальные клиенты могут найти необходимую им информацию и ответы на часто задаваемые вопросы. В отсутствии сайта, эту работу пришлось бы выполнять сотрудникам компании. Сайт работает на вашу компанию 24 часа в сутки круглый год и затраты на его содержание гораздо меньше
            </div>
        </article>
        <article class="solutions__card bg--dark-blue">
            <h3 class="solutions__heading title">
                <span class="solutions__icon">
                    <img class="solutions__img-icon" src="img/plugs/solutions-icon-2.svg" alt="">
                </span>
                <span class="solutions__text title title--pre-medium title--white title--w-light">
                    Маркетинг и реклама компании
                </span>
            </h3>
            <div class="solutions__descr text text--normal text--white text--w-light">
                Сайт - отличный маркетинговый инструмент, благодаря которому происходит продвижение товаров и услуг, информирования об акциях и новых предложениях, получение обратной связи от пользователей
            </div>
        </article>
        <article class="solutions__card bg--dark-blue">
            <h3 class="solutions__heading">
                <span class="solutions__icon">
                    <img class="solutions__img-icon" src="img/plugs/solutions-icon-3.svg" alt="">
                </span>
                <span class="solutions__text title title--pre-medium title--white title--w-light">
                    Интернет-продажи
                </span>
            </h3>
            <div class="solutions__descr text text--normal text--white text--w-light">
                Эту задачу помогает решить интернет-магазин, полноценная торговая точка со своими клиентами, со своей бухгалтерией, платежной системой, аналитикой и возможностью интеграции в структуру CRM-системы компании
            </div>
        </article>
    </div>
</section>
<!-- /. Solutions -->
{% endif %}

{% if title == "Битрикс 24" %}
<!-- Solutions -->
<section class="solutions">
    <div class="solutions__items">
        <article class="solutions__card bg--dark-blue">
            <h3 class="solutions__heading">
                <span class="solutions__icon">
                    <img class="solutions__img-icon" src="img/plugs/solutions-icon-4.svg" alt="">
                </span>
                <span class="solutions__text title title--pre-medium title--white title--w-light">
                    Отслеживание рабочего процесса
                </span>
            </h3>
            <div class="solutions__descr text text--normal text--white text--w-light">
                Система позволяет ставить конкретные задачи, назначать ответственного за их выполнение и отслеживать рабочий процесс в режиме реального времени. Помимо всего прочего, в программе можно настроить воронку продаж, конвертировать лиды в сделки, выставлять счета клиентам, а также вести часть бухгалтерии.
            </div>
        </article>
        <article class="solutions__card bg--dark-blue">
            <h3 class="solutions__heading title">
                <span class="solutions__icon">
                    <img class="solutions__img-icon" src="img/plugs/solutions-icon-5.svg" alt="">
                </span>
                <span class="solutions__text title title--pre-medium title--white title--w-light">
                    Подключение онлайн-офиса
                </span>
            </h3>
            <div class="solutions__descr text text--normal text--white text--w-light">
                Теперь у вас есть возможность подключения онлайн-офиса, общего чата со всеми сотрудниками и хранения данных на безопасном сервере. Интеграция мессенджеров и других контактов, позволит не потерять связь с клиентами.
            </div>
        </article>
        <article class="solutions__card bg--dark-blue">
            <h3 class="solutions__heading">
                <span class="solutions__icon">
                    <img class="solutions__img-icon" src="img/plugs/solutions-icon-6.svg" alt="">
                </span>
                <span class="solutions__text title title--pre-medium title--white title--w-light">
                    Отслеживание статистики
                </span>
            </h3>
            <div class="solutions__descr text text--normal text--white text--w-light">
                С помощью внедрения корпоративного портала, через CRM-аналитику и отчеты можно отслеживать статистику, проводить аудит и анализ всей структуры компании. Все это поможет своевременно определить проблемные зоны и разработать план действий для развития и продвижения.
            </div>
        </article>
    </div>
</section>
<!-- /. Solutions -->
{% endif %}