<!-- Stages -->
<section class="stages block-padding">
    <div class="stages__body container">
        <h2 class="stages__heading title title--large title--white title--w-bold title--indent-45">
            Этапы работы
        </h2>
        <div class="stages__items">
            <article class="stages__item">
                <h3 class="stages__title title title--medium title--white title--w-light" data-num="1">
                    Подготовка
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    <p>
                        Обращение
                    </p>
                    <p>
                        Заполнение технического задания
                    </p>
                    <p>
                        Оформление договора
                    </p>
                </div>
            </article>
            <article class="stages__item">
                <h3 class="stages__title title title--medium title--white title--w-light" data-num="2">
                    Дизайн & Верстка
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    <p>
                        Прототипирование
                    </p>
                    <p>
                        Согласование дизайна
                    </p>
                    <p>
                        Верстка
                    </p>
                </div>
            </article>
            <article class="stages__item">
                <h3 class="stages__title title title--medium title--white title--w-light" data-num="3">
                    Финал проекта
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    <p>
                        Наполнение контентом
                    </p>
                    <p>
                        Сдача проекта
                    </p>
                    <p>
                        Реклама, продвижение
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- /. Stages -->