{% if title == "Разработка презентаций" %}
<!-- Stages -->
<section class="stages block-padding">
    <div class="stages__body container">
        <h2 class="stages__heading title title--large title--white title--w-bold title--indent-45">
            Этапы работы
        </h2>
        <div class="stages__items">
            <article class="stages__item" data-num="1">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Заполнение <br> брифа
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    Заполнение заказчиком брифа, расставление акцентов, выявление целей презентаций. Возможность заполнения в онлайн-формате
                </div>
            </article>
            <article class="stages__item" data-num="2">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Подписание <br> договора
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    Согласование этап работ, условий договора
                </div>
            </article>
            <article class="stages__item" data-num="3">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Составление структуры <br> презентации и текста
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    Подписание и согласование структуры презентации, подготовка и согласование текстов
                </div>
            </article>
            <article class="stages__item" data-num="4">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Согласование <br> дизайна
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    Создание 2 вариантов концепций дизайна на примере обложки и внутреннего слайда 
                </div>
            </article>
            <article class="stages__item" data-num="5">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    <br>
                    Верстка
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    Все слайды верстаются на основе ранее согласованного текста и утвержденной концепции дизайна
                </div>
            </article>
            <article class="stages__item" data-num="6">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    <br>
                    Сдача проекта
                </h3>
                <div class="stages__descr text text--normal text--white text--w-light">
                    Оплата оставшейся части согласно условиям договора. Отправка исходников в удобном формате
                </div>
            </article>
        </div>
    </div>
</section>
<!-- /. Stages -->
{% endif %}

{% if title == "Создание сайтов" %}
<!-- Stages -->
<section class="stages block-padding">
    <div class="stages__body container">
        <h2 class="stages__heading title title--large title--white title--w-bold title--indent-45">
            Этапы работы
        </h2>
        <div class="stages__items stages__items--four">
            <article class="stages__item" data-num="1">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Заполнение <br> брифа
                </h3>
            </article>
            <article class="stages__item" data-num="2">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Подписание <br> договора
                </h3>
            </article>
            <article class="stages__item" data-num="3">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Составление структуры <br> презентации и текста
                </h3>
            </article>
            <article class="stages__item" data-num="4">
                <h3 class="stages__title title title--pre-medium title--white title--w-light">
                    Согласование <br> дизайна
                </h3>
            </article>
        </div>
    </div>
</section>
<!-- /. Stages -->
{% endif %}