{% if title == "Дизайн" %}
<!-- Tarifs -->
<section class="tarifs block-padding">
    <div class="tarifs__body container">
        <h2 class="tarifs__heading title title--large title--white title--w-bold title--indent-45">
            Основные услуги
        </h2>
        <div class="tarifs__slider">
            <!-- Slider main container -->
            <div class="tarifs__swiper-container tarifs__swiper-container--default swiper-container">
                <!-- Additional required wrapper -->
                <div class="tarifs__swiper-wrapper swiper-wrapper disableds">
                    <!-- Slides -->
                    <div class="tarifs__swiper-slide swiper-slide">
                        <!-- Tarif-card -->
                        <article class="tarif-card tarif-card--fire tarif-card--service">
                            <header class="tarif-card__header">
                                <div class="tarif-card__subtitle">
                                    <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                        1/4
                                    </span>
                                </div>
                                <div class="tarif-card__price">
                                    <span class="tarif-card__title title title--large title--white title--w-bold">
                                        Разработка логотипа
                                    </span>
                                </div>
                            </header>
                            <div class="tarif-card__body">
                                <p class="tarif-card__descr text text--normal text--white text--w-light">
                                    Лого — это графический знак, через который происходит знакомство с брендом. Это один из обязательных элементов фирменного стиля.
                                </p>
                                <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                    <li class="tarif-card__check">
                                        Создадим легко узнаваемый логотип, с помощью которого будет очень легко создать фирменные паттерны.
                                    </li>
                                </ul>
                                <div class="tarif-card__alert">
                                    <div class="tarif-card__alert-icon">
                                        <svg class="tarif-card__alert-svg" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g opacity="0.35">
                                            <path d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10 6H10.0083" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9 9H10V14H11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="tarif-card__alert-text text text--normal text--white text--w-light">
                                        В тариф не входит создание логотипа
                                    </span>
                                </div>
                            </div>
                            <footer class="tarif-card__footer">
                                <div class="tarif-card__action">
                                    <a href="#" class="tarif-card__more link-primary">
                                        <span class="tarif-card__more-text link-primary__text">
                                            Узнать подробнее
                                        </span> 
                                        <span class="tarif-card__more-icon link-primary__icon">
                                            <svg class="tarif-card__more-icon link-primary__arrow-primary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Tarif-card -->
                    </div>
                    <!-- Slides -->
                    <div class="tarifs__swiper-slide swiper-slide">
                        <!-- Tarif-card -->
                        <article class="tarif-card tarif-card--service">
                            <header class="tarif-card__header">
                                <div class="tarif-card__subtitle">
                                    <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                        2/4
                                    </span>
                                </div>
                                <div class="tarif-card__price">
                                    <span class="tarif-card__title title title--large title--white title--w-bold">
                                        Фирменный стиль
                                    </span>
                                </div>
                            </header>
                            <div class="tarif-card__body">
                                <p class="tarif-card__descr text text--normal text--white text--w-light">
                                    Разработаем уникальный бренд-дизайна компании. Первое впечатление о вашей компании должно оставаться запоминающимся.
                                </p>
                                <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                    <li class="tarif-card__check">
                                        Наши дизайнеры помогут подобрать идеальное сочетание цветов и научат пользоваться ими в будущем.
                                    </li>
                                </ul>
                                <div class="tarif-card__alert">
                                    <div class="tarif-card__alert-icon">
                                        <svg class="tarif-card__alert-svg" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g opacity="0.35">
                                            <path d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10 6H10.0083" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9 9H10V14H11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="tarif-card__alert-text text text--normal text--white text--w-light">
                                        В тариф не входит создание логотипа
                                    </span>
                                </div>
                            </div>
                            <footer class="tarif-card__footer tarif-card__footer--no-el">
                                <div class="tarif-card__action">
                                    <a href="#" class="tarif-card__more link-primary">
                                        <span class="tarif-card__more-text link-primary__text">
                                            Узнать подробнее
                                        </span> 
                                        <span class="tarif-card__more-icon link-primary__icon">
                                            <svg class="tarif-card__more-icon link-primary__arrow-primary" width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464466C12.9763 0.269204 12.6597 0.269204 12.4645 0.464466C12.2692 0.659728 12.2692 0.976311 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53553L16.3536 4.35355ZM1 4.5H16V3.5H1V4.5Z"/>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Tarif-card -->
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="tarifs__slider-nav disableds">
                <div class="tarifs__swiper-button-prev tarifs__slider-arrow">
                    <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="tarifs__swiper-button-next tarifs__slider-arrow">
                    <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Tarifs -->
{% endif %}