{% if title == "Интернет-магазин" %}
<!-- Tarifs -->
<section class="tarifs block-padding">
    <div class="tarifs__body container">
        <h2 class="tarifs__heading title title--large title--white title--w-bold title--indent-45">
            Тарифы
        </h2>
        <div class="tarifs__slider">
            <!-- Slider main container -->
            <div class="tarifs__swiper-container tarifs__swiper-container--store swiper-container">
                <!-- Additional required wrapper -->
                <div class="tarifs__swiper-wrapper swiper-wrapper disableds">
                    <!-- Slides -->
                    <div class="tarifs__swiper-slide swiper-slide">
                        <!-- Tarif-card -->
                        <article class="tarif-card">
                            <header class="tarif-card__header">
                                <div class="tarif-card__subtitle">
                                    <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                        Типовое решение
                                    </span>
                                    <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                        2 недели
                                    </span>
                                </div>
                                <div class="tarif-card__price">
                                    <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                        От
                                    </span>
                                    <span class="tarif-card__num title title--large title--white title--w-bold">
                                        250 000
                                    </span>
                                    <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                        ₽
                                    </span>
                                </div>
                            </header>
                            <div class="tarif-card__body">
                                <p class="tarif-card__descr text text--normal text--white text--w-light">
                                    Большой многостраничный сайт с неограниченным количеством карточек товаров
                                </p>
                                <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                    <li class="tarif-card__check">
                                        Шаблонный дизайн
                                    </li>
                                    <li class="tarif-card__check">
                                        Вёрстка на Тильда / Wordpress
                                    </li>
                                    <li class="tarif-card__check">
                                        Подключение CRM
                                    </li>
                                    <li class="tarif-card__check">
                                        Покупка домена
                                    </li>
                                    <li class="tarif-card__check">
                                        Адаптивный дизайн
                                    </li>
                                    <li class="tarif-card__check">
                                        Написание контента для сайта
                                    </li>
                                    <li class="tarif-card__check">
                                        Подключение корзины товаров
                                    </li>
                                    <li class="tarif-card__check">
                                        Подключение онлайн-оплаты
                                    </li>
                                    <li class="tarif-card__check">
                                        Наполнение сайта вашими товарами
                                    </li>
                                </ul>
                            </div>
                            <footer class="tarif-card__footer">
                                <div class="tarif-card__action">
                                    <a href="javascript:;" class="tarif-card__button button button--primary">
                                        Оставить заявку
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Tarif-card -->
                    </div>
                    <div class="tarifs__swiper-slide swiper-slide">
                        <!-- Tarif-card -->
                        <article class="tarif-card">
                            <header class="tarif-card__header">
                                <div class="tarif-card__subtitle">
                                    <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                        Уникальный дизайн
                                    </span>
                                    <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                        2 недели
                                    </span>
                                </div>
                                <div class="tarif-card__price">
                                    <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                        От
                                    </span>
                                    <span class="tarif-card__num title title--large title--white title--w-bold">
                                        250 000
                                    </span>
                                    <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                        ₽
                                    </span>
                                </div>
                            </header>
                            <div class="tarif-card__body">
                                <p class="tarif-card__descr text text--normal text--white text--w-light">
                                    Большой многостраничный сайт с неограниченным количеством карточек товаров
                                </p>
                                <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                    <li class="tarif-card__check">
                                        Уникальный дизайн
                                    </li>
                                    <li class="tarif-card__check">
                                        Вёрстка на Тильда / Wordpress
                                    </li>
                                    <li class="tarif-card__check">
                                        Подключение CRM
                                    </li>
                                    <li class="tarif-card__check">
                                        Покупка домена
                                    </li>
                                    <li class="tarif-card__check">
                                        Адаптивный дизайн
                                    </li>
                                    <li class="tarif-card__check">
                                        Написание контента для сайта
                                    </li>
                                    <li class="tarif-card__check">
                                        Подключение корзины товаров
                                    </li>
                                    <li class="tarif-card__check">
                                        Подключение онлайн-оплаты
                                    </li>
                                    <li class="tarif-card__check">
                                        Наполнение сайта вашими товарами
                                    </li>
                                </ul>
                            </div>
                            <footer class="tarif-card__footer">
                                <div class="tarif-card__action">
                                    <a href="javascript:;" class="tarif-card__button button button--primary">
                                        Оставить заявку
                                    </a>
                                </div>
                            </footer>
                        </article>
                        <!-- /. Tarif-card -->
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="tarifs__slider-nav disableds">
                <div class="tarifs__swiper-button-prev tarifs__slider-arrow">
                    <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="tarifs__swiper-button-next tarifs__slider-arrow">
                    <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                            
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Tarifs -->
{% endif %}

{% if title == "Создание сайтов" %}
<!-- Tarifs -->
<section class="tarifs block-padding">
    <div class="tarifs__body container">
        <h2 class="tarifs__heading title title--large title--white title--w-bold title--indent-45">
            Стоимость разработки сайта
        </h2>
        <div class="tarifs__tabs tabs">
            <div class="tarifs__tabs-buttons tabs__buttons">
                <div class="tarifs__tabs-button tabs__button is-active" data-tab-trigger="1">
                    Типовое решение
                </div>
                <div class="tarifs__tabs-button tabs__button" data-tab-trigger="2">
                    Уникальный дизайн
                </div>
            </div>
            <div class="tarifs__tabs-wrapper tabs__wrapper">
                <div class="tarifs__tabs-content tabs__content is-open" data-tab-content="1">
                    <div class="tarifs__slider">
                        <!-- Slider main container -->
                        <div class="tarifs__swiper-container tarifs__swiper-container--web swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="tarifs__swiper-wrapper swiper-wrapper disableds">
                                <!-- Slides -->
                                <div class="tarifs__swiper-slide swiper-slide">
                                    <!-- Tarif-card -->
                                    <article class="tarif-card">
                                        <header class="tarif-card__header">
                                            <div class="tarif-card__subtitle">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    Сайт-визитка
                                                </span>
                                                <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                                    2 дня
                                                </span>
                                            </div>
                                            <div class="tarif-card__price">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    От
                                                </span>
                                                <span class="tarif-card__num title title--large title--white title--w-bold">
                                                    20 000
                                                </span>
                                                <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                                    ₽
                                                </span>
                                            </div>
                                        </header>
                                        <div class="tarif-card__body">
                                            <p class="tarif-card__descr text text--normal text--white text--w-light">
                                                Продающий сайт. Одностраничник и какое-то описание.
                                            </p>
                                            <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                                <li class="tarif-card__check">
                                                    Шаблонный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Вёрстка на Тильда / Wordpress
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение CRM
                                                </li>
                                                <li class="tarif-card__check">
                                                    Покупка домена
                                                </li>
                                                <li class="tarif-card__check">
                                                    Адаптивный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Написание контента для сайта
                                                </li>
                                            </ul>
                                        </div>
                                        <footer class="tarif-card__footer">
                                            <div class="tarif-card__action">
                                                <a href="javascript:;" class="tarif-card__button button button--primary">
                                                    Оставить заявку
                                                </a>
                                            </div>
                                        </footer>
                                    </article>
                                    <!-- /. Tarif-card -->
                                </div>
                                <div class="tarifs__swiper-slide swiper-slide">
                                    <!-- Tarif-card -->
                                    <article class="tarif-card">
                                        <header class="tarif-card__header">
                                            <div class="tarif-card__subtitle">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    Лэндинг
                                                </span>
                                                <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                                    7-10 дней
                                                </span>
                                            </div>
                                            <div class="tarif-card__price">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    От
                                                </span>
                                                <span class="tarif-card__num title title--large title--white title--w-bold">
                                                    100 000
                                                </span>
                                                <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                                    ₽
                                                </span>
                                            </div>
                                        </header>
                                        <div class="tarif-card__body">
                                            <p class="tarif-card__descr text text--normal text--white text--w-light">
                                                Продающий сайт. Одностраничник и какое-то описание.
                                            </p>
                                            <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                                <li class="tarif-card__check">
                                                    Уникальный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Вёрстка на Тильда / Wordpress
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение CRM
                                                </li>
                                                <li class="tarif-card__check">
                                                    Покупка домена
                                                </li>
                                                <li class="tarif-card__check">
                                                    Адаптивный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Написание контента для сайта
                                                </li>
                                            </ul>
                                        </div>
                                        <footer class="tarif-card__footer">
                                            <div class="tarif-card__action">
                                                <a href="javascript:;" class="tarif-card__button button button--primary">
                                                    Оставить заявку
                                                </a>
                                            </div>
                                        </footer>
                                    </article>
                                    <!-- /. Tarif-card -->
                                </div>
                                <div class="tarifs__swiper-slide swiper-slide">
                                    <!-- Tarif-card -->
                                    <article class="tarif-card">
                                        <header class="tarif-card__header">
                                            <div class="tarif-card__subtitle">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                   Интернет-магазин
                                                </span>
                                                <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                                    2 недели
                                                </span>
                                            </div>
                                            <div class="tarif-card__price">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    От
                                                </span>
                                                <span class="tarif-card__num title title--large title--white title--w-bold">
                                                    250 000
                                                </span>
                                                <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                                    ₽
                                                </span>
                                            </div>
                                        </header>
                                        <div class="tarif-card__body">
                                            <p class="tarif-card__descr text text--normal text--white text--w-light">
                                                Большой многостраничный сайт с неограниченным количеством карточек товаров
                                            </p>
                                            <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                                <li class="tarif-card__check">
                                                    Уникальный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Вёрстка на Тильда / Wordpress
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение CRM
                                                </li>
                                                <li class="tarif-card__check">
                                                    Покупка домена
                                                </li>
                                                <li class="tarif-card__check">
                                                    Адаптивный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Написание контента для сайта
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение корзины товаров
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение онлайн-оплаты
                                                </li>
                                                <li class="tarif-card__check">
                                                    Наполнение сайта вашими товарами
                                                </li>
                                            </ul>
                                        </div>
                                        <footer class="tarif-card__footer">
                                            <div class="tarif-card__action">
                                                <a href="javascript:;" class="tarif-card__button button button--primary">
                                                    Оставить заявку
                                                </a>
                                            </div>
                                        </footer>
                                    </article>
                                    <!-- /. Tarif-card -->
                                </div>
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="tarifs__slider-nav disableds">
                            <div class="tarifs__swiper-button-prev tarifs__slider-arrow">
                                <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="tarifs__swiper-button-next tarifs__slider-arrow">
                                <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tarifs__tabs-content tabs__content" data-tab-content="2">
                    <div class="tarifs__slider">
                        <!-- Slider main container -->
                        <div class="tarifs__swiper-container tarifs__swiper-container--web swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="tarifs__swiper-wrapper swiper-wrapper disableds">
                                <!-- Slides -->
                                <div class="tarifs__swiper-slide swiper-slide">
                                    <!-- Tarif-card -->
                                    <article class="tarif-card">
                                        <header class="tarif-card__header">
                                            <div class="tarif-card__subtitle">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    Типовое решение
                                                </span>
                                                <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                                    2 недели
                                                </span>
                                            </div>
                                            <div class="tarif-card__price">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    От
                                                </span>
                                                <span class="tarif-card__num title title--large title--white title--w-bold">
                                                    250 000
                                                </span>
                                                <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                                    ₽
                                                </span>
                                            </div>
                                        </header>
                                        <div class="tarif-card__body">
                                            <p class="tarif-card__descr text text--normal text--white text--w-light">
                                                Большой многостраничный сайт с неограниченным количеством карточек товаров
                                            </p>
                                            <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                                <li class="tarif-card__check">
                                                    Шаблонный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Вёрстка на Тильда / Wordpress
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение CRM
                                                </li>
                                                <li class="tarif-card__check">
                                                    Покупка домена
                                                </li>
                                                <li class="tarif-card__check">
                                                    Адаптивный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Написание контента для сайта
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение корзины товаров
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение онлайн-оплаты
                                                </li>
                                                <li class="tarif-card__check">
                                                    Наполнение сайта вашими товарами
                                                </li>
                                            </ul>
                                        </div>
                                        <footer class="tarif-card__footer">
                                            <div class="tarif-card__action">
                                                <a href="javascript:;" class="tarif-card__button button button--primary">
                                                    Оставить заявку
                                                </a>
                                            </div>
                                        </footer>
                                    </article>
                                    <!-- /. Tarif-card -->
                                </div>
                                <div class="tarifs__swiper-slide swiper-slide">
                                    <!-- Tarif-card -->
                                    <article class="tarif-card">
                                        <header class="tarif-card__header">
                                            <div class="tarif-card__subtitle">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    Уникальный дизайн
                                                </span>
                                                <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                                    2 недели
                                                </span>
                                            </div>
                                            <div class="tarif-card__price">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    От
                                                </span>
                                                <span class="tarif-card__num title title--large title--white title--w-bold">
                                                    250 000
                                                </span>
                                                <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                                    ₽
                                                </span>
                                            </div>
                                        </header>
                                        <div class="tarif-card__body">
                                            <p class="tarif-card__descr text text--normal text--white text--w-light">
                                                Большой многостраничный сайт с неограниченным количеством карточек товаров
                                            </p>
                                            <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                                <li class="tarif-card__check">
                                                    Уникальный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Вёрстка на Тильда / Wordpress
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение CRM
                                                </li>
                                                <li class="tarif-card__check">
                                                    Покупка домена
                                                </li>
                                                <li class="tarif-card__check">
                                                    Адаптивный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Написание контента для сайта
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение корзины товаров
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение онлайн-оплаты
                                                </li>
                                                <li class="tarif-card__check">
                                                    Наполнение сайта вашими товарами
                                                </li>
                                            </ul>
                                        </div>
                                        <footer class="tarif-card__footer">
                                            <div class="tarif-card__action">
                                                <a href="javascript:;" class="tarif-card__button button button--primary">
                                                    Оставить заявку
                                                </a>
                                            </div>
                                        </footer>
                                    </article>
                                    <!-- /. Tarif-card -->
                                </div>
                                <div class="tarifs__swiper-slide swiper-slide">
                                    <!-- Tarif-card -->
                                    <article class="tarif-card">
                                        <header class="tarif-card__header">
                                            <div class="tarif-card__subtitle">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    Уникальный дизайн
                                                </span>
                                                <span class="tarif-card__time text text--small text--dark-gray text--w-light">
                                                    2 недели
                                                </span>
                                            </div>
                                            <div class="tarif-card__price">
                                                <span class="tarif-card__pretext text text--normal text--white text--w-light">
                                                    От
                                                </span>
                                                <span class="tarif-card__num title title--large title--white title--w-bold">
                                                    250 000
                                                </span>
                                                <span class="tarif-card__symbol text text--normal text--white text--w-light">
                                                    ₽
                                                </span>
                                            </div>
                                        </header>
                                        <div class="tarif-card__body">
                                            <p class="tarif-card__descr text text--normal text--white text--w-light">
                                                Большой многостраничный сайт с неограниченным количеством карточек товаров
                                            </p>
                                            <ul class="tarif-card__checklist text text--normal text--white text--w-light">
                                                <li class="tarif-card__check">
                                                    Уникальный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Вёрстка на Тильда / Wordpress
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение CRM
                                                </li>
                                                <li class="tarif-card__check">
                                                    Покупка домена
                                                </li>
                                                <li class="tarif-card__check">
                                                    Адаптивный дизайн
                                                </li>
                                                <li class="tarif-card__check">
                                                    Написание контента для сайта
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение корзины товаров
                                                </li>
                                                <li class="tarif-card__check">
                                                    Подключение онлайн-оплаты
                                                </li>
                                                <li class="tarif-card__check">
                                                    Наполнение сайта вашими товарами
                                                </li>
                                            </ul>
                                        </div>
                                        <footer class="tarif-card__footer">
                                            <div class="tarif-card__action">
                                                <a href="javascript:;" class="tarif-card__button button button--primary">
                                                    Оставить заявку
                                                </a>
                                            </div>
                                        </footer>
                                    </article>
                                    <!-- /. Tarif-card -->
                                </div>
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="tarifs__slider-nav disableds">
                            <div class="tarifs__swiper-button-prev tarifs__slider-arrow">
                                <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 1L1.82588 4.75671C1.3845 5.15395 1.3845 5.84605 1.82588 6.24329L6 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="tarifs__swiper-button-next tarifs__slider-arrow">
                                <svg class="tarifs__slider-arrow-svg" width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L5.17412 4.75671C5.6155 5.15395 5.6155 5.84605 5.17412 6.24329L1 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /. Tarifs -->
{% endif %}