<!-- Tasks -->
<section class="tasks block-padding">
    <div class="tasks__body container">
        <h2 class="tasks__heading title title--large title--white title--w-bold title--indent-45">
            Какие задачи мы решаем
        </h2>
        <div class="tasks__items">
            <article class="tasks__item">
                <div class="tasks__num title title--w-bold">
                    01
                </div>
                <h3 class="tasks__title title title--medium title--white title--w-light">
                    Разработка удобных и красивых сайтов
                </h3>
                <div class="tasks__descr text text--normal text--white text--w-light">
                    Заполнение заказчиком брифа, расставление акцентов, выявление целей презентаций. Возможность заполнения в онлайн-формате
                </div>
            </article>
            <article class="tasks__item">
                <div class="tasks__num title title--w-bold">
                    02
                </div>
                <h3 class="tasks__title title title--medium title--white title--w-light">
                    Оформление и ведение социальных сетей
                </h3>
                <div class="tasks__descr text text--normal text--white text--w-light">
                    Заполнение заказчиком брифа, расставление акцентов, выявление целей презентаций. Возможность заполнения в онлайн-формате
                </div>
            </article>
            <article class="tasks__item">
                <div class="tasks__num title title--w-bold">
                    03
                </div>
                <h3 class="tasks__title title title--medium title--white title--w-light">
                    Создание фирменного стиля и брендбука
                </h3>
                <div class="tasks__descr text text--normal text--white text--w-light">
                    Заполнение заказчиком брифа, расставление акцентов, выявление целей презентаций. Возможность заполнения в онлайн-формате
                </div>
            </article>
            <article class="tasks__item">
                <div class="tasks__num title title--w-bold">
                    04
                </div>
                <h3 class="tasks__title title title--medium title--white title--w-light">
                    IT аутсорс для вашей компании
                </h3>
                <div class="tasks__descr text text--normal text--white text--w-light">
                    Заполнение заказчиком брифа, расставление акцентов, выявление целей презентаций. Возможность заполнения в онлайн-формате
                </div>
            </article>
        </div>
    </div>
</section>
<!-- /. Tasks -->