.footer {
    position: relative;
    background: #09080E26;
    margin-top: -240px;
    padding: 340px 0 50px;
}

.footer__decor {
    position: absolute;
    left: -10%;
    bottom: -2%;
    user-select: none;
    pointer-events: none;
}

.footer__svg-decor {
    display: block;
    max-width: 100%;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobileXS-block {
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__logo-wrap {
    display: flex;
    align-items: center;
}

.footer__firm-name {
    margin-left: 25px;
}

.footer__search-form {
    @include mobileXS(margin-top, 25px);
}

.footer__columns {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
    justify-content: space-between;
    @include mobileXS-block {
        grid-gap: 45px;
        margin-top: 45px;
    }
}

.footer__title-col {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__menu-nav + .footer__title-col {
    margin-top: 30px;
}

.footer__menu-item.menu__item:first-child {
    margin-top: 15px;
}

.footer__menu-item.menu__item ~ .footer__menu-item.menu__item  {
    margin-top: 10px;
}

.footer__copy {
    margin-top: 45px;
    text-align: center;
}

.footer__copy-text:first-child {
    opacity: .45;
}

.footer__copy-text:last-child {
    margin-top: 5px;
}