.not-post {
    padding-top: 100px;
}

.not-post__title,
.not-post__action--not {
    margin-top: 50px;
    text-align: center;
}

.not-post__img {
    display: block;
    max-width: 350px;
    margin: 0 auto;
}

