.header {
    position: absolute;
    padding: 25px 0;
    width: 100%;
    z-index: 100;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    display: block;
}

.header__search {
    cursor: pointer;
}

.header__search-icon {
    display: block;
}