.cases__filters {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-gap: 15px;
}

.cases__filters::-webkit-scrollbar {
    width: 0 !important;
}

.cases__btn-filter {
    min-width: fit-content;
}

.cases__items {
    position: relative;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, .33333fr));
    grid-gap: 80px 20px;
    @include tabletSM-block {
        grid-template-columns: repeat(auto-fit, minmax(280px, .5fr));
    }
    @include mobile-block {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

.cases__items.is-load {
    opacity: 0.5;
}

.cases__items.is-load:before {
    position: absolute;
    content: '';
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(21, 17, 27, 1);
    z-index: 11;
}

.cases__items.is-load:after {
    position: absolute;
    content: '';
    background: url('../img/logo.svg') no-repeat center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: flicker-load 1.5s infinite linear backwards;
    z-index: 12;
}