.cases__filters {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-gap: 15px;
    @include tabletSM-block {
        overflow-x: auto;
        touch-action: cross-slide-y;
        -ms-overflow-style: none;
    }
}

.cases__filters::-webkit-scrollbar {
    width: 0 !important;
}

.cases__btn-filter {
    min-width: fit-content;
}

.cases__items {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 80px 20px;
}