.stages__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, .33333fr));
    grid-auto-rows: minmax(150px, 1fr);
    grid-gap: 100px;
    margin-top: 90px;
    @include mobileXS-block {
        grid-template-columns: 1fr;
    }
}

.stages__items--four {
    grid-template-columns: repeat(auto-fit, minmax(200px, .25fr));
    @include tabletSM-block {
        grid-template-columns: repeat(auto-fit, minmax(285px, .5fr));
        justify-content: center;
    }
    @include mobileXS-block {
        grid-template-columns: repeat(auto-fit, minmax(285px, .5fr));
    }
}

.stages__item {
    position: relative;
    @include mobileXS(width, 100%);
}

.stages__title {
    display: inline-block;
    z-index: 10;
}

.stages__item::before {
    content: attr(data-num);
    position: absolute;
    right: 50%;
    top: -38px;
    font-family: var(--font-helvetica-neue-cyr);
    font-size: 105px;
    line-height: 0.80;
    font-weight: 700;
    color: var(--color-white);
    opacity: .05;
    z-index: -1;
}

.stages__descr {
    position: relative;
    padding: 15px 15px 15px 45px;
    margin-top: 45px;
}

.stages__descr::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    transform: rotate(-12deg);
    min-height: 85px;
    width: 1px;
    background: var(--color-white);
}