.benefits__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, .25fr));
    grid-auto-rows: minmax(220px, 1fr);
    grid-gap: 20px;
    @include tabletSM-block {
        grid-template-columns: repeat(auto-fit, minmax(230px, .5fr));
    }
    @include mobile-block {
        grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
    }
    @include mobileXS-block {
        grid-template-columns: 1fr;
    }
}

.benefits__items--three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, .33333fr));
    grid-auto-rows: minmax(220px, 1fr);
    grid-gap: 20px;
    @include mobile-block {
        grid-template-columns: 1fr;
    }
}

.benefits__items--three .benefits__item {
    @include mobile-block {
        display: grid;
        grid-template-columns: minmax(70px, 100px) minmax(200px, 1fr);
        grid-gap: 50px;
        align-items: center;
        background-position: 0% 50%;
        background-size: 50%;
        padding: 60px 25px 25px;
    }
    @include mobileXS-block {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 45px;
        align-items: center;
        background-position: 50% 50%;
        background-size: 70%;
        padding: 60px 25px 25px;
    }
}

.benefits__items--three .benefits__title {
    @include mobile(margin-top, 0);
}

.benefits__item {
    padding: 80px 25px 25px;
    border-radius: 5px;
    background-image: url('../img/bg/benefits-bg.svg');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: var(--color-dark-blue);
}

.benefits__icon {
    margin: 0 auto;
    max-width: 70px;
}

.benefits__icon-img {
    display: block;
}

.benefits__title {
    margin-top: 35px;
}

.benefits__descr {
    margin-top: 15px;
}