.case-card {
    position: relative;
    border-radius: 10px;
    background: var(--color-dark-blue);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.case-card__tags {
    position: absolute;
    padding: 15px;
}

.case-card__tag.button--dark {
    color: var(--color-dark-gray);
    opacity: 1;
}

.case-card__tag.button--dark:hover {
    color: var(--color-white);
    background: var(--color-accent-secondary);
}

.case-card__pic {
    width: 100%;
    max-height: 321px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.case-card__img {
    display: block;
    width: 100%;
    max-height: 321px;
    object-fit: cover;
}

.case-card__text {
    padding: 25px 15px 15px;
}

.case-card__footer {
    margin-top: auto;
    padding: 10px 15px 15px;
}

.case-card__button {
    width: 100%;
}