.button {
    font-family: var(--font-helvetica-neue-cyr);
    font-weight: 500;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    padding: 15px 35px;
    z-index: 10;
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.15);
    outline: var(--color-blue);
    transition: background .250s ease-in-out, color .250s ease-in-out, border .250s ease-in-out;
    overflow: hidden;
}

/* Bitton small */
.button--small {
    padding: 8px 15px;
    font-weight: 300;
}

/* Button with icon */
.button--icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__icon-white {
    display: inline-block;
    margin-left: 10px;
    fill: var(--color-white);
    transition: fill .300s ease-in-out, transform .300s ease-in-out;
}

.button--icon:hover .button__icon-white {
    fill: var(--color-blue);
    transform: translateX(5px);
}

/* Button dark */
.button--dark {
    border: 1px solid transparent;
    color: var(--color-light-gray);
    background: var(--color-dark-gray);
    opacity: .55;
    transition: color .300s, background .300s, opacity .300s;
}

.button--dark:hover,
.button--dark:focus,
.button--dark:target,
.button--dark:active {
    opacity: 1;
    color: var(--color-blue);
}

.button--dark.is-active {
    opacity: 1;
    color: var(--color-white);
    background: var(--color-blue);
}

/* Button primary */
.button--primary {
    border: 1px solid transparent;
    color: var(--color-white);
    transition: color .300s, border .300s, background .300s;
}

.button--primary::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--color-blue);
    z-index: -1;
    transition: width .250s;
}

.button--primary:hover::before,
.button--primary:focus::before,
.button--primary:target::before {
    width: 0%;
}

.button--primary:hover,
.button--primary:focus,
.button--primary:target {
    color: var(--color-blue);
    background: var(--color-white);
    border: 1px solid var(--color-white);
}

.button--primary:active {
    color: var(--color-white);
    background: var(--color-white);
}

.button--primary:disabled {
    opacity: .45;
}

/* Button primary form */
.button--primary.button--form {
    background: var(--color-blue);
    border: 1px solid transparent;
    color: var(--color-white);
    transition: color .300s, border .300s, background .300s;
}

.button--primary.button--form:hover,
.button--primary.button--form:focus,
.button--primary.button--form:target {
    color: var(--color-blue);
    background: var(--color-white);
    border: 1px solid var(--color-white);
}

.button--primary.button--form:active {
    color: var(--color-blue);
    background: var(--color-white);
}

.button--primary.button--form:disabled {
    opacity: .45;
}

/* Button secondary */
.button--secondary {
    border: 1px solid var(--color-blue);
    color: var(--color-white);
    background: transparent;
    transition: color .300s, border .300s, background .300s;
}

.button--secondary::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    right: 0;
    background: var(--color-blue);
    z-index: -1;
    transition: width .250s;
}

.button--secondary:hover::before,
.button--secondary:focus::before,
.button--secondary:target::before {
    width: 100%;
}

.button--secondary:hover {
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.button--secondary:focus,
.button--secondary:target {
    border: 1px solid var(--color-white);
}

.button--secondary:active::before {
    background: linear-gradient(90deg, #0036C2 0%, #0029BB 98.44%);
}

.button--secondary:active {
    border: 1px solid #0029BB;
    background: linear-gradient(90deg, #0036C2 0%, #0029BB 98.44%);
}

.button--secondary:disabled {
    opacity: .45;
}